/*
 * beelancer - tasks.css
 * Author: Gordon Hall
 */

#tasks {
	overflow: hidden;
	padding-bottom: 24px;
	background: #fff;
}

.task_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.task_list .task_list a {
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding: 12px 6px;
	border-bottom: 1px solid #f1f1f1;
	color: #333;
}

.task_list .task_list a:hover {
	background-color: rgba(255, 207, 47, 0.2);
}

 .task_list .task_list .task_title {
	display: block;
}

.task_list .task_list .task_rate {
	display: block;
	text-align: right;
}

.task_assignee {
	border-left: 4px solid #002A38;
	display: block;
	padding: 6px;
	background: #fafafa;
	border-bottom: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
}

.task_assignee a {
	text-shadow: 0 1px 0 #fff;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.task_assignee a:hover {
	text-decoration: underline;
}

.task_assignee a img {
	float: left;
	margin-right: 12px;
}

.task_assignee a span {
	color: #333;
	font-size: 14px;
}

#tasks_create,
#task_view {
	display: none;
}

#filter_tasks {
	float: left;
	margin: 12px;
}

#filter_tasks select {
	font-size: 16px;
	margin-left: 12px;
}

.col-header.in-progress h3 {
	background: url('/assets/images/mono/black/clock_icon&16.png') right center no-repeat;
}

.col-header.completed h3 {
	background: url('/assets/images/mono/black/checkbox_checked_icon&16.png') right center no-repeat;
}

.col-header.unassigned h3 {
	background: url('/assets/images/mono/black/inbox_icon&16.png') right center no-repeat;
}

.edit_task {
	background: url('/assets/images/mono/black/doc_edit_icon&16.png') 12px center no-repeat;
}

.close_task {
	background: url('/assets/images/mono/black/checkbox_checked_icon&16.png') 12px center no-repeat;
}

.delete_task {
	background: url('/assets/images/mono/black/delete_icon&16.png') 12px center no-repeat;
}

.reopen_task {
	background: url('/assets/images/mono/black/doc_new_icon&16.png') 12px center no-repeat;
}

.new_task {
	background: url('/assets/images/mono/black/doc_plus_icon&16.png') 12px center no-repeat;
}

.save_task {
	background: url('/assets/images/mono/black/checkmark_icon&16.png') 12px center no-repeat;
}

.new_task_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 230px;
	display: none;
}

#task-assigned-to a,
#task-owned-by a {
	text-decoration: none;
	color: #333;
}

#task-assigned-to a:hover,
#task-owned-by a:hover {
	text-decoration: underline;
}

#task-assigned-to img,
#task-owned-by img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 8px;
}

.task_filter {
	float: left;
}

.task_filter strong {
	float: left;
	margin: 4px 12px 0 0;
}

#task_filter {
	padding: 4px 12px;
	font-size: 14px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ababab;
}

#save_task {
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
	background: url('/assets/images/mono/black/doc_plus_icon&32.png') 12px center no-repeat;
}

#save_task:hover {
	cursor: pointer;
	background: url('/assets/images/mono/black/doc_plus_icon&32.png') 12px center no-repeat #FFC60B;
}

#tasks_active ul,
#tasks_closed ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.task a {
	padding: 12px 24px;
	margin: 3px 0;
	display: block;
	text-decoration: none;
	border-radius: 6px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	border: 1px solid transparent;
	overflow: hidden;
}

li.task a > strong {
	width: 286px;
	float: left;
}

li.task a:hover {
	background-color: #e2e2e2;
	border: 1px solid #d2d2d2;
	border-color: #d2d2d2;
}

li.task a em {
	float: right;
	font-size: 12px;
	width: 204px;
	padding: 2px;
}

li.task a em strong {
	color: #002A38;
}

li.task a em img{
	height: 18px;
	width: 18px;
	float: left;
	margin-right: 8px;
}

li.task a em strong span {
	
}

p.proj-name {
	margin: 20px;
}

#bee-ui_add_worklog_entry {
	z-index: 997;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

#bee-ui_add_worklog_entry > form {
	margin-left: -230px;
	width: 562px;
	margin-top: -198px;
}

#save_worklog {
	float: right;
	margin: 0 24px 24px 0;
	font-size: 15px;
	padding: 6px 12px;
	border: 1px solid #D9A809;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.7);
	text-shadow: 0 1px 0 #ffc60b;
	font-weight: bold;
}

#save_worklog:hover {
	background: #ffc60b;
	cursor: pointer;
}

.wlog-time, .wlog-ended, .wlog-started {
	display: none;
}

.work_log {
	padding: 0;
	margin: 0;
}

.work_log li {
	list-style-type: none;
	padding: 6px 12px;
	font-size: 12px;
	overflow: hidden;
}

.work_log li:hover {
	background-color: #f6f6f6;
}

.work_log li strong {
	float: left;
	margin: 6px 0;
	font-weight: normal;
	font-size: 12px;
}

.wlog-hours {
	font-weight: bold;
}

.wlog-day {
	font-weight: bold;
}

.work_log li p {
	clear: both;
}

.work_log button {
	float: right;
	text-indent: -9999px;
	border: none;
	padding: 4px 0px;
	width: 27px;
	opacity: 0.7;
	display: none;
}

button.wlog.edit {
	background: url('/assets/images/mono/black/doc_edit_icon&16.png') center center no-repeat;
}

button.wlog.delete {
	background: url('/assets/images/mono/black/delete_icon&16.png') center center no-repeat;
}

.work_log li:hover button {
	display: block;
}

.work_log button:hover {
	cursor: pointer;
	opacity: 1;
}

.hours-worked-clock,
.task-billed-at,
#task_timer_controls {
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #ededed;
	background: #f6f6f6;
	text-align: center;
}

.hours-worked-clock strong,
.task-billed-at strong,
#task_timer_controls strong {
	color: #555;
	padding: 4px 0;
	text-shadow: 0 1px 0 #fff;
	font-size: 16px;
	float: left;
	margin: 10px 12px;
}

.time {
	
}

.time em {

	font-style: normal;
}

.timer.entry {
	float: right;
	margin: 0;
}

.rate {
	color: green;
}

.rate-type {
	text-transform: uppercase;
	font-style: normal;
	font-size: 10px;
	padding: 2px 6px;
	border-radius: 4px;
	background-color: rgba(0, 100, 0, 0.7);
	font-weight: bold;
	color: #FFF;
}

.total-cost {
	margin: 8px 0px;
	text-align: center;
}

.total-cost strong {
	color: #555;
	padding: 4px 12px;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #ededed;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.total-cost span {
	color: green;
}

button.timer {
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	padding: 4px 8px 4px 32px;
	float: right;
	margin: 12px;
}

button.timer.start {
	background: url('/assets/images/mono/black/playback_play_icon&16.png') 8px center no-repeat #e9e9e9;
}

button.timer.stop {
	background: url('/assets/images/mono/black/playback_pause_icon&16.png') 8px center no-repeat #e9e9e9;
}

button.timer.entry {
	background: url('/assets/images/mono/black/doc_plus_icon&16.png') 8px center no-repeat #e9e9e9;
	position: relative;
	left: 14px;
}

button.timer:hover {
	background-color: #fff;
	cursor: pointer;
}

.status {
	float: left;
	margin: 14px 0;
	font-size: 16px;
	font-style: italic;
}

#tasks_nav .task_status {
	display: none;
}

#tasks_create p.noProject {
	margin: 20px;
	text-align: center;
}

.task_info {
	list-style-type: none;
	margin: 12px 0;
	padding: 0;
}

.task_info li {
	font-size: 14px;
	padding: 4px 0;
	margin: 4px 0;
	overflow: hidden;
}

.task_info li strong {
	margin-right: 12px;
	text-align: right;
	width: 110px;
	float: left;
}
