/*
 * beelancer - tasks.css
 * Author: Gordon Hall
 */

#tasks_create,
#task_view {
	display: none;
}

#filter_tasks {
	float: left;
	margin: 12px;
}

#filter_tasks select {
	font-size: 16px;
	margin-left: 12px;
}

#tasks_nav .new_task {
	background: url('/assets/images/mono/black/doc_plus_icon&24.png') 12px center no-repeat;
}

#tasks_nav .edit_task {
	background: url('/assets/images/mono/black/doc_edit_icon&24.png') 12px center no-repeat;
}

#tasks_nav .close_task {
	background: url('/assets/images/mono/black/checkbox_checked_icon&24.png') 12px center no-repeat;
}

#tasks_nav .delete_task {
	background: url('/assets/images/mono/black/delete_icon&24.png') 12px center no-repeat;
}

#tasks_nav .reopen_task {
	background: url('/assets/images/mono/black/doc_new_icon&24.png') 12px center no-repeat;
}

.new_task_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 230px;
}

#save_task {
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
	background: url('/assets/images/mono/black/doc_plus_icon&32.png') 12px center no-repeat;
}

#save_task:hover {
	cursor: pointer;
	background: url('/assets/images/mono/black/doc_plus_icon&32.png') 12px center no-repeat #FFC60B;
}

#tasks_active ul,
#tasks_closed ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.task a {
	padding: 12px 24px;
	margin: 3px 0;
	display: block;
	text-decoration: none;
	border-radius: 6px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	border: 1px solid transparent;
	overflow: hidden;
}

li.task a > strong {
	width: 286px;
	float: left;
}

li.task a:hover {
	background-color: #e2e2e2;
	border: 1px solid #d2d2d2;
	border-color: #d2d2d2;
}

li.task a em {
	float: right;
	font-size: 12px;
	width: 204px;
	padding: 2px;
}

li.task a em strong {
	color: #002A38;
}

li.task a em img{
	height: 18px;
	width: 18px;
	float: left;
	margin-right: 8px;
}

li.task a em strong span {
	
}

#bee-ui_add_worklog_entry {
	z-index: 997;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

#bee-ui_add_worklog_entry > form {
	margin-left: -230px;
	width: 562px;
	margin-top: -198px;
}

#save_worklog {
	float: right;
	margin: 0 24px 24px 0;
	font-size: 15px;
	padding: 6px 12px;
	border: 1px solid #D9A809;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.7);
	text-shadow: 0 1px 0 #ffc60b;
	font-weight: bold;
}

#save_worklog:hover {
	background: #ffc60b;
	cursor: pointer;
}

.wlog-time, .wlog-ended, .wlog-started {
	display: none;
}
