!!! 5
html
	head(lang='en-US')
		title Beelancer | Social Project Management
		//- Stylesheets
		link(rel='stylesheet', type='text/css', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/css', href='/styles/main.css')
		link(rel='stylesheet', type='text/css', href='/styles/animate.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/beelancer/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/jquery-ui-timepicker-addon.css')
		//- Libraries
		script(type='application/javascript', src='/socket.io/socket.io.js')
		script(type='application/javascript', src='/scripts/lib/jquery-1.9.1.js')
		script(type='application/javascript', src='/scripts/lib/jquery-ui-1.9.2.custom.js')
		script(type='application/javascript', src='/scripts/lib/jquery-ui-timepicker-addon.js')
		script(type='application/javascript', src='/scripts/lib/handlebars-1.0.0.js')
		script(type='application/javascript', src='/scripts/lib/blueprint.1.5.3.js')
		script(type='application/javascript', src='/scripts/lib/tappa.2.0.js')
		script(type='application/javascript', src='/scripts/lib/marked.js')
		script(type='application/javascript', src='/spi/lib')
		// - Google Analytics
		if google_analytics
			include ./includes/google-analytics.html
		//- Application Init
		script(type='application/javascript', src='/scripts/bee-init.js')
		script(type='application/javascript')
			| window.bee.api_url = '#{api_url}';
		
		//- Templates
		include ./includes/templates.html
	body
		div#app
			//- Header
			include ./includes/header.jade
			//- Render Main
			div#main
				block content
			//- Footer
			include ./includes/footer.jade
		div#bee_loader
