!!! 5
html
	head(lang='en-US')
		title Beelancer | Login
		//- Stylesheets
		link(rel='stylesheet', type='text/css', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/css', href='/styles/main.css')
		link(rel='stylesheet', type='text/css', href='/styles/animate.min.css')
		//- Libraries
		script(type='application/javascript', src='/scripts/lib/jquery-1.9.1.js')
		script(type='application/javascript', src='/scripts/lib/handlebars-1.0.0.js')
		// - Google Analytics
		if google_analytics
			include ./includes/google-analytics.html
	body
		div#login
			div#main
				block content
		div#bee_loader
