/*
 * beelancer - team.css
 * Author: Gordon Hall
 */

.top_options .message {
	background: url('/assets/images/mono/black/mail_2_icon&16.png') 12px center no-repeat;
}

.invite {
	background: url('/assets/images/mono/black/contact_card_icon&16.png') 12px center no-repeat;
}

.endorse {
	background: url('/assets/images/mono/black/hand_pro_icon&16.png') 12px center no-repeat;
}

.remove {
	background: url('/assets/images/mono/black/delete_icon&16.png') 12px center no-repeat;
}

.col-header.myteam h3{
	background: url('/assets/images/mono/black/users_icon&16.png') right center no-repeat;
}

.col-header.findusers h3 {
	background: url('/assets/images/mono/black/zoom_icon&16.png') right center no-repeat;
}

.col-header.endorsements h3{
	background: url('/assets/images/mono/black/cert_icon&16.png') right center no-repeat;
}

.endorse_submit_wrapper, .update_submit_wrapper {
	display: none;
}

#team_profile .profile_average_rating {
	border: 1px solid #e2e2e2;
	background: #fff;
	border-radius: 6px;
	clear: both;
	list-style: none;
	overflow: auto;
	margin: 0 10px;
	padding: 10px;
}

#user_search_results {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#project_team {
	padding: 4px 12px;
	font-size: 14px;
	background: #FFF;
	border-radius: 2px;
	border: 1px solid #ABABAB;
}

.project_filter strong {
	float: left;
	margin: 4px 12px 0 0;
}

#team_profile .profile_average_rating .number_ratings {
	display: block;
	float:left;
}

#team_profile .profile_average_rating .number_ratings span {
	font-weight: bold;
}

#team_profile .profile_average_rating .rating {
	display: block;
	float: right;
	background: url('/assets/images/mono/black/star_fav_icon&24.png') center right no-repeat;
	padding-right: 34px;
}

#endorse_compose {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -200px;
	width: 400px;
	height: 300px;
}

.update-endorse {
	display: none;
	background: url('/assets/images/mono/black/checkmark_icon&16.png') 12px center no-repeat;
}

.submit-endorse {
	background: url('/assets/images/mono/black/cert_icon&16.png') 12px center no-repeat;
}

#team_profile #endorse_compose #comment {
	height: 144px;
	width: 352px;
	margin: 12px;
	font-size: 14px;
	padding: 6px 10px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
	resize: none;
}

#team_profile #endorse_compose .stars {
	text-align: center;
	margin: 10px 0px 20px;
	padding: 0;
}

#team_profile #endorse_compose li, .profile_ratings .stars li {
	background: url('/assets/images/mono/black/star_fav_empty_icon&24.png') 0 0 no-repeat;
	display: inline-block;
	height: 24px;
	padding: 0px 10px;
	width: 24px;
}

#team_profile #endorse_compose li.hovered {
	background: url('/assets/images/mono/black/star_fav_icon&24.png') 0 0 no-repeat;
	cursor: pointer;
}

#team_profile #endorse_compose li.marked, .profile_ratings .stars li.marked {
	background: url('/assets/images/mono/black/star_fav_icon&24.png') 0 0 no-repeat;
}

.profile_ratings .stars li {
	border: none;
	float: none;
	padding: 0px;
}

#team_profile #endorse_compose .endorse_submit_wrapper, #team_profile #endorse_compose .update_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 200px;
}

#team_profile #endorse_compose .update_submit_wrapper {
	width: 370px;
}

#team_profile #endorse_compose .send_endorsement, #team_profile #endorse_compose .update_endorsement {
	background: url('/assets/images/mono/black/pencil_icon&32.png') 12px center no-repeat;
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
}

#team_profile #endorse_compose .send_endorsement:hover, #team_profile #endorse_compose .update_endorsement:hover {
	background: url('/assets/images/mono/black/pencil_icon&32.png') 12px center no-repeat #FFC60B;
	cursor: pointer;
}

#team_profile #endorse_compose .update_endorsement {
	display: none;
}

#team_profile .profile_avatar {
	margin: 12px;
	border: 12px solid white;
	float: left;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
	height: 80px;
	width: 80px;
}

#team_profile .profile_info {
	overflow: hidden;
}

#team_profile .profile_name {
	display: block;
	margin: 24px 0 12px 12px;
	font-size: 32px;
	font-family: Raleway;
	text-shadow: 0 1px 0 white;
	float: left;
}

#team_profile .profile_title {
	font-size: 18px;
	margin-left: 12px;
	float: left;
	width: 420px;
}

.profile_about {
	background: url('/assets/images/bubble-tick.png') 32px 0 no-repeat;
	padding: 18px 12px 0 12px;
}

.profile_about .bubble {
	background: #E2E2E2;
	border-radius: 12px;
	padding: 12px;
	color: #333;
	font-size: 16px;
	line-height: 26px;
	text-shadow: 0 1px 0 white;
}

.profile_ratings {
	margin: 0 12px 24px 12px;
	overflow: hidden;
}

.profile_ratings ul {
	margin: 0;
	padding: 0;
}

.profile_ratings ul li {
	border: 1px solid #e2e2e2;
	background: #fff;
	margin: 3px 0;
	border-radius: 6px;
	float: left;
	width: 100%;
	clear: both;
	list-style: none;
}

.profile_ratings .rating_from {
	padding: 10px;
}

.profile_ratings .rating_from .from_user {
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

.profile_ratings .rating_from .from_user img {
	float: left;
}

.profile_ratings .rating_from .from_user .endorse_name {
	float: left;
	font-weight: bold;
	margin: 6px;
}

.profile_ratings .rating_from .from_user .rating {
	float: right;
}

.profile_ratings .rating_from p {
	clear: both;
	margin: 0 0 5px;
}

.profile_ratings .emptyList {
	background: url('/assets/images/mono/black/emotion_sad_icon&24.png') left center no-repeat;
	padding: 6px 0 6px 34px;
}

#list_team {
	margin-bottom: 24px;
}

#list_team #bee-ui_teamlist {
	width: auto;
	border: none;
	box-shadow: none;
}

#team_list label {
	padding: 12px 24px;
	margin-bottom: 12px;
	background: #e2e2e2;
	display: block;
}

#team_list label select {
	margin-left: 12px;
	font-size: 16px;
}

.search {
	background: #f1f1f1;
	overflow: hidden;
}

#team_search {
	display: block;
	font-size: 16px;
	padding: 8px 18px;
	margin: 12px;
	border: 1px solid #999;
	border-radius: 3px;
	width: 430px;
}

#search_results ul {
	list-style-type: none;
	margin: 3px 3px 24px 3px;
	padding: 0;
}

#search_results ul li {
	
}

#which_team {
	margin: 12px;
	float: left;
}

#search_results a {
	display: block;
	text-decoration: none;
	color: #333;
	border: 1px solid transparent;
	overflow: hidden;
	padding: 4px 0;
	border-radius: 6px;
}

#search_results a:hover {
	background: #e2e2e2;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #d2d2d2
}

#search_results  a .member-name {
	float: left;
	margin: 8px;
	font-weight: bold;
}

#search_results a .member-title {
	float: right;
	margin: 8px;
}

#search_results a img {
	float: left;
	margin: 4px 12px;
}

.removefromproject {
	float: right !important;
	text-indent: -9999px;
	background: url('/assets/images/mono/black/round_delete_icon&16.png') center center no-repeat #f1f1f1;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	width: 24px;
	height: 24px;
}

.removefromproject:hover {
	border: 1px solid #666;
	cursor: pointer;
}

#list_team #bee-ui_teamlist {
	background: none;
}

.you {
	text-align: right;
}

#user_details img {
	float: left;
	margin: 0 24px 24px 0;
	border: 1px solid #D2D2D2;
}

.user_info {
	list-style-type: none;
	padding-left: 190px;
}

.user_info li {
	padding: 4px 0 4px 24px;
}

.user-title {
	background: url('/assets/images/mono/black/user_icon&16.png') left center no-repeat;
}

.user-company {
	background: url('/assets/images/mono/black/case_icon&16.png') left center no-repeat;
}

.user-rating {
	background: url('/assets/images/mono/black/cert_icon&16.png') left center no-repeat;
}

.user_about {
	clear: both;
	background: url('/assets/images/bubble-tick.png') 58px top no-repeat;
	padding-top: 18px;
	position: relative;
	top: -12px;
}

.user-blurb {
	background: #E2E2E2;
	padding: 24px;
	border-radius: 4px;
	text-shadow: 0 1px 0 #FFF;
	color: #333;
}

.endorsements_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.endorsements_list > li {
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
}

.endorsements_list img {
	float: left;
	margin: 12px;
}

.endorsements_list .endorse_name {
	float: left;
	margin: 16px 0;
}

.endorsements_list .rating-comment {
	clear: both;
	margin: 12px;
	padding: 12px;
	font-size: 14px;
	background: #F1F1F1;
	border-radius: 4px;
}

.rating .stars {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	width: 102px;
	margin: 8px auto;
}

.rating .stars li {
	background: url('/assets/images/mono/black/star_fav_empty_icon&16.png') 0 0 no-repeat;
	float: left;
	padding: 8px;
	margin: 4px 2px;
}

.rating .stars li.marked {
	background: url('/assets/images/mono/black/star_fav_icon&16.png') 0 0 no-repeat;
}
