div#header
	div.container
		h1.logo
			a(href='/') Beelancer
		div#user
			div#welcome
		div#notifications
	//- Menu
	include ./menu.jade
div#user_menu
	ul
		li
			a.profile(href='') View Profile
		li
			a.settings(href='/#!/account') Account Settings
		li.last
			span#logout Logout
