div#menu
	h1.logo Beelancer
	ul
		li.projects(data-module='projects')
			a(href='/#!/projects') Projects
		li.tasks(data-module='tasks')
			a(href='/#!/tasks') Tasks
		li.team(data-module='team')
			a(href='/#!/team') Team
		li.messages(data-module='messages')
			a(href='/#!/messages') Messages
		li.jobs(data-module='jobs')
			a(href='/#!/jobs') Jobs
		li.settings(data-module='settings')
			a(href='/#!/settings') Settings