<!--
	beelancer - templates.html
	Author: Gordon Hall
-->

<!-- Confirm Box -->
<script id="tmpl-bee-ui_confirm" type="text/x-handlebars-template">
	<div id="bee-ui_confirm">
		<div class="light-gradient popup animated flipInY">
			<p>{{message}}</p>
			<ul class="popup-options">
				<li>
					<button id="bee-ui_confirm_cancel" class="light-gradient">Cancel</button>
				</li>
				<li>
					<button id="bee-ui_confirm_ok" class="gold-gradient">Confirm</button>
				</li>
			</ul>
		</div>
	</div>
</script>

<!-- Worklog Add/Edit Entry -->
<script id="tmpl-add_worklog_entry" type="text/x-handlebars-template">
	<div id="bee-ui_add_worklog_entry">
		<form data-id="{{_id}}" class="light-gradient popup animated bounceInUp">
			<h4 class="gold-gradient">Worklog Entry</h4>
			<div class="group">
				<label for="wlog_startTime">
					<span>Started:</span>
					<input type="text" name="started" value="{{log.started}}" id="wlog_startTime" />
				</label>
				<label for="wlog_endTime">
					<span>Ended:</span>
					<input type="text" name="ended" value="{{log.ended}}" id="wlog_endTime" />
				</label>
			</div>
			<label class="full_block" for="wlog_message">
				<span>Notes:</span>
				<textarea id="wlog_message" name="message">{{message}}</textarea>
			</label>
			<input class="gold-gradient" type="submit" id="save_worklog" value="Save Worklog Entry" />
		</form>
	</div>
</script>

<!-- Projects List -->
<script id="tmpl-projects_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li>
					<a href="/#!/projects?viewProject={{_id}}" {{#if pastDue}}class="overdue"{{/if}}>
						<strong>{{title}}</strong>
						<span class="project_due">{{deadlineText}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">No projects to display.</p>
	{{/if}}
</script>

<!-- Project Details -->
<script id="tmpl-user_showcase" type="text/x-handlebars-template">
	<div class="user_showcase">
		<img src="{{avatarPath}}" width="48px" height="48px" />
		<strong>{{firstName}} {{lastName}}</strong>
		<em>{{title}} {{#if company}}at {{company}}{{/if}}</em>
		<a href="/#!/team?viewProfile={{_id}}">View Profile</a>
	</div>
</script>

<!-- Project Details -->
<script id="tmpl-user" type="text/x-handlebars-template">
	<a class="bee_user" href="/#!/team?viewProfile={{_id}}">
		<img src="{{avatarPath}}" width="16px" height="16px" />
		<strong>{{firstName}} {{lastName}}</strong>
	</a>
</script>

<!-- Project Details -->
<script id="tmpl-project_details" type="text/x-handlebars-template">
	<div class="light-gradient center-pane animated fadeInUp">
		<div id="project_details">
			<h4 class="gold-gradient">{{title}}</h4>
			<div class="viewproject_deadline">
				{{#if isActive}}
					{{#if isOverdue}}
						Due <span class="calendardate">{{daysText}}</span> days ago.
					{{else}}
						Due in <span class="calendardate">{{daysText}}</span> days.
					{{/if}}
				{{else}}
					<span class="closed green-gradient">This project is closed.</span>
				{{/if}}
			</div>
			<div class="viewproject_ownedby">
				<strong>This project is owned by:</strong>
				<div></div>
			</div>
			<div class="viewproject_description">
				<div class="markdown rollout">
					{{{description}}}
				</div>
			</div>
			<div class="viewproject_stats">
				This project has <a href="#!/team?projectId={{_id}}">{{members.length}} members</a> working on <a href="/#!/tasks?projectId={{_id}}">{{tasks.length}} tasks</a>.
			</div>
			<div class="float_wrap">
				<div id="viewproject_team" class="half_list">
					<h5 class="half-list-header">
						Team Members
						<button class="btn-add" id="project_add_team">Add a Teammate</button>
					</h5>
					{{#if members.length}}
						<ul class="rollout none">
							{{#each members}}
								<li class="list-member" data-profile="{{this.profile}}">
									<span class="loading-list">Loading Member...</span>
								</li>
							{{/each}}
						</ul>
					{{else}}
						<p class="rollout none">You are the only member of this project.</p>
					{{/if}}
				</div>
				<div id="viewproject_tasks" class="half_list">
					<h5 class="half-list-header">
						Open Tasks
						<button class="btn-add" id="project_add_task">Add a Task</button>
					</h5>
					{{#if tasks.length}}
						<ul id="project_tasks" class="rollout none">
							<li>Loading tasks...</li>
						</ul>
					{{else}}
						<p class="rollout none">There are no tasks attached to this project.</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</script>

<!-- Project Tasks List -->
<script id="tmpl-project_tasks" type="text/x-handlebars-template">
{{#if isComplete}}
{{else}}
	<li class="list-task" id="task-{{this._id}}">
		<a href="/#!/tasks?viewTask={{_id}}">
			<span class="task-list-title">{{title}}</span>
			<span class="task-list-hours">{{hoursWorked}} hours tracked.</span>
		</a>
	</li>
{{/if}}
</script>

<!-- Member List Item -->
<script id="tmpl-list_member" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li{{#if this.ratings.average}} title="Rating: {{this.ratings.average}}, # of Ratings: {{this.ratings.total}}"{{/if}}>
					<a href="/#!/team?viewProfile={{_id}}">
						<img src="{{avatarPath}}" width="32px" height="32px" />
						<span class="member-name">{{firstName}} {{lastName}}</span>
						<span class="member-title">{{title}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		{{#if this.firstName}}
			<a href="/#!/team?viewProfile={{_id}}">
				<img src="{{#if avatarPath}}{{avatarPath}}{{else}}/assets/images/default-avatar.jpg{{/if}}" width="32px" height="32px" />
				<span class="member-name">{{firstName}} {{lastName}}</span>
				<span class="member-title">{{title}}</span>
			</a>
		{{else}}
			<p class="no_projects">No users found.</p>
		{{/if}}
	{{/if}}
</script>

<!-- Team Populate -->
<script id="tmpl-populate_team" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="teammember" data-id="{{this._id}}">
					<img src="{{this.avatarPath}}" width="32px" height="32px" alt="{{this.avatarPath}}" />
					<span class="team_list_name">{{this.firstName}} {{this.lastName}}</span>
				</li>
			{{/each}}
		</ul>
	{{else}}	
		<p class="no_projects">
			No teammates to display.
		</p>
	{{/if}}
</script>

<!-- Message List -->
<script id="tmpl-message_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this._id}}" data-from="{{#if this.isCurrent}}{{this.to._id}}{{else}}{{this.from._id}}{{/if}}">
					<div class="msg_from">
						{{#if isCurrent}}
							<img src="{{this.to.avatarPath}}" width="24px" height="24px" alt="{{this.to.avatarPath}}" />
						{{else}}
							<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						{{/if}}
						<span class="team_list_name">
							{{#if isCurrent}}
								{{this.to.firstName}} {{this.to.lastName}}
							{{else}}
								{{this.from.firstName}} {{this.from.lastName}}
							{{/if}}
							<span class="msg_sentOn">{{this.sentOn}}</span>
						</span>
					</div>
					<p>{{this.body}}</p>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">You have no messages.</p>
	{{/if}}
</script>

<!-- Message View -->
<script id="tmpl-message_view" type="text/x-handlebars-template">
	<div class="light-gradient center-pane animated fadeInUp">
		<div class="messageview_body">
			<ul>
				{{#each this}}
					<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this.from._id}}">
						<div class="msg_from">
							{{#if this.isCurrent}}
								<div class="this_user">
									<span class="team_list_name">
										You
										<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
									</span>
								</div>
							{{else}}
								<div class="user_message" data-user="{{this.from.user}}">
									<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
									<span class="team_list_name">
										{{this.from.firstName}} {{this.from.lastName}}
									</span>
								</div>
							{{/if}}
						</div>
						<div class="msg_body">
							<p{{#if this.isCurrent}} class="current_body"{{/if}}><span class="msg_sentOn">{{this.sentOn}}</span>{{this.body}}</p>
							{{#if this.attachment}}
								<div class="msg_attachment">
									<button class="light-gradient" id="msg_action_decline" data-id="{{this._id}}">Decline</button>
									<button class="gold-gradient" id="msg_action_accept" data-action="{{this.attachment.action}}" data-data="{{this.attachment.data}}" data-id="{{this._id}}">Accept</button>
								</div>
							{{/if}}
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="message_compose">
			<input type="text" id="convo_compose" name="convo_compose" placeholder="Type your message here..." />
			<span id="convo_submit"></span>
		</div>
	</div>
</script>

<!-- Individual Message Template -->
<script id="tmpl-ind_message" type="text/x-handlebars-template">
	<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this.from._id}}">
		<div class="msg_from">
			<div class="msg_from">
				{{#if this.isCurrent}}
					<div class="this_user">
						<span class="team_list_name">
							You
							<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						</span>
					</div>
				{{else}}
					<div class="user_message" data-user="{{this.from.user}}">
						<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						<span class="team_list_name">
							{{this.from.firstName}} {{this.from.lastName}}
						</span>
					</div>
				{{/if}}
			</div>
			<div class="msg_body">
				<p{{#if this.isCurrent}} class="current_body"{{/if}}><span class="msg_sentOn">{{this.sentOn}}</span>{{this.body}}</p>
				{{#if this.attachment}}
					<div class="msg_attachment">
						<button class="light-gradient" id="msg_action_decline" data-id="{{this._id}}">Decline</button>
						<button class="gold-gradient" id="msg_action_accept" data-action="{{this.attachment.action}}" data-data="{{this.attachment.data}}" data-id="{{this._id}}">Accept</button>
					</div>
				{{/if}}
			</div>
		</div>
	</li>
</script>

<!-- User Profile -->
<script id="tmpl-user_profile" type="text/x-handlebars-template">
	<div id="endorse_compose" class="light-gradient center-pane animated fadeInUp">
		<h4 class="gold-gradient">Endorse {{firstName}} {{lastName}}</h4>
		<form id="endorse_user">
			<label for="comment">
				<textarea id="comment" name="comment" placeholder="Type your endorsement here..." maxlength="250"></textarea>
			</label>
			<input type="hidden" id="rating_id" name="rating_id" />
			<ul class="stars">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="endorse_submit_wrapper gold-gradient">
				<input type="submit" class="send_endorsement" value="Endorse!" />
			</div>
			<div class="update_submit_wrapper gold-gradient">
				<input type="submit" class="update_endorsement" value="Update Endorsement" />
			</div>
		</form>
	</div>
	<div class="light-gradient center-pane animated fadeInUp">
		<div class="profile_info">
			<div class="profile_avatar">
				<img src="{{avatarPath}}" height="80px" width="80px" alt="{{firstName}} {{lastName}}" />
			</div>
			<strong class="profile_name">{{firstName}} {{lastName}}</strong>
			<em class="profile_title">{{title}} {{#if company}}at <span>{{company}}</span>{{/if}}</em>
		</div>
		{{#if about}}
			<div class="profile_about">
				<div class="bubble">{{about}}</div>
			</div>
		{{/if}}
		{{#if ratings.average}}
			<h4 class="gold-gradient">Rating</h4>
			<div class="profile_average_rating">
				<span class="number_ratings"># of Ratings:  <span>{{ratings.total}}</span></span>
				<span class="rating">{{ratings.average}}</span>
			</div>
		{{/if}}
		<h4 class="gold-gradient">Endorsements</h4>
		<div class="profile_ratings">
			Loading endorsements...
		</div>
	</div>
</script>

<!-- Ratings list -->
<script id="tmpl-profile_ratings" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li>
					<div class="rating_from">
						<div class="from_user">
							<img src="{{this.fromUser.avatarPath}}" width="32px" height="32px" />
							<span class="endorse_name">{{this.fromUser.firstName}} {{this.fromUser.lastName}}</span>
							<div class="rating">
								<ul class="stars">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
								<input type="hidden" name="star_rating" id="star_rating" value="{{this.rating}}" />
							</div>
						</div>
						<p>{{this.comment}}</p>
					</div>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="emptyList">This user has no endorsements.</p>
	{{/if}}
</script>

<!-- Remove user from project -->
<script id="tmpl-removefromproject" type="text/x-handlebars-template">
	<span class="removefromproject">X</span>
</script>

<!-- Task Details -->
<script id="tmpl-task_details" type="text/x-handlebars-template">
	<div class="light-gradient center-pane animated fadeInUp">
		<div id="task_details" data-id="{{_id}}">
			<h4 class="gold-gradient">{{title}}</h4>
			<div class="float_wrap">
				<div class="hours-worked-clock">
					<strong class="light-gradient">Time Worked:</strong> <span class="time"></span>
				</div>
				<div id="task-assigned-to"></div>
				<div class="task-billed-at">
					<strong class="light-gradient">Billed Rate:</strong> 
					<span class="rate">${{rate}}</span>
					<em class="rate-type">{{#if isFixed}}(fixed){{else}}per hour{{/if}}</em>
				</div>
				<div id="task_timer_controls"></div>
			</div>
			<h3 class="light-gradient">
				<span class="worklog">Work Log<button class="timer entry">Add Entry</button></span>
			</h3>
			{{#if this.worklog.length}}
				<ul class="work_log">
					{{#each this.worklog}}
						{{#if ended}}
							<li data-id="{{_id}}">
								<strong class="wlog-time">
									<span class="wlog-started">{{started}}</span>
									<span class="wlog-ended">{{ended}}</span>
									<span class="wlog-hours"></span> on <span class="wlog-day"></span>
								</strong>
								<button class="wlog delete">Delete Entry</button>
								<button class="wlog edit">Edit Entry</button>
								<p>{{message}}</p>
							</li>
						{{/if}}
					{{/each}}
				</ul>
				<div class="pagination">
					<button class="pageLeft">&laquo;</button>
					<span class="pageLocation">
						Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
					</span>
					<button class="pageRight">&raquo;</button>
				</div>
			{{else}}
				<p class="no_projects">This task has no work history yet.</p>
			{{/if}}
		</div>
	</div>
</script>

<!-- Task Timer -->
<script id="tmpl-task_timer" type="text/x-handlebars-template">
	<!-- Compile With Last WorkLog Entry in worklog -->
	{{#if ended}}
		<strong class="light-gradient">Status: </strong>
		<span class="status">Paused</span>
		<button class="timer start">Start Working</button>
	{{else}}
		<strong>Status: </strong>
		<span class="status">Timing</span>
		<button class="timer stop">Stop Working</button>
	{{/if}}	
</script>

<!-- Tasks List -->
<script id="tmpl-tasks_list" type="text/x-handlebars-template">
	<h3 class="light-gradient">
		<span class="user">{{#if this.active}}Assigned To{{else}}Completed By{{/if}} You</span>
	</h3>
	{{#if this.tasks.assignedToMe.length}}
		<ul class="task-mine">
			{{#each this.tasks.assignedToMe}}
				<li class="task">
					<a href="/#!/tasks?viewTask={{_id}}" data-owner="{{owner.profile}}">
						<strong>{{title}}</strong>
						<em class="owner">
							<strong>Owned by: </strong><span class="owner_name">Retrieving...</span>
						</em>
					</a>
				</li>
			{{/each}}
		</ul>
		<div class="pag-task-mine pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	{{else}}
		<p class="no_projects">No tasks are {{#if this.active}}assigned to{{else}}completed by{{/if}} you.</p>
	{{/if}}
	<h3 class="light-gradient">
		<span class="users">{{#if this.active}}Assigned To{{else}}Completed By{{/if}} Others</span>
	</h3>
	{{#if this.tasks.assignedToOthers.length}}
		<ul class="task-others">
			{{#each this.tasks.assignedToOthers}}
				<li class="task">
					<a href="/#!/tasks?viewTask={{_id}}" data-assignee="{{assignee.profile}}">
						<strong>{{title}}</strong>
						<em class="assignee">
							<strong>Assigned to: </strong><span class="assignee_name">Retrieving...</span>
						</em>
					</a>
				</li>
			{{/each}}
		</ul>
		<div class="pag-task-others pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	{{else}}
		<p class="no_projects">No tasks are {{#if this.active}}assigned to{{else}}completed by{{/if}} others.</p>
	{{/if}}
</script>

<!-- Task Project List -->
<script id="tmpl-projectForTask" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<option value="{{this._id}}">{{this.title}}</option>
		{{/each}}
	{{else}}
		<option>No Projects</option>
	{{/if}}
</script>

<!-- Job Category List -->
<script id="tmpl-catsForJob" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<option value="{{this.id}}">{{this.title}}</option>
		{{/each}}
	{{/if}}
</script>

<!-- Job Task List -->
<script id="tmpl-taskForJobs" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<div class="job_task_option">
				<span class="job_project_title">Project: {{this.project.title}}</span>
				<span class="job_task_title">Task: {{this.title}}</span>
				<input type="checkbox" id="{{this._id}}" name="tasks" value="{{this._id}}" />
			</div>
		{{/each}}
	{{/if}}
</script>

<!-- Assignee For Task -->
<script id="tmpl-assigneeForTask" type="text/x-handlebars-template">
	{{#if this.length}}
		<option value="">Unassigned</option>
		{{#each this}}
			<option value="{{this.user}}">{{this.firstName}} {{this.lastName}}</option>
		{{/each}}
	{{else}}
		<option>Unassigned</option>
	{{/if}}
</script>

<!-- Account Endorsement Template -->
<script id="tmpl-accountEndorsement" type="text/x-handlebars-template">
	<li class="endorse {{#if this.needsAction}}needsAction{{/if}}" data-id="{{this._id}}">
		<div class="msg_from">
			<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
			<div class="view_endorse" data-id="{{this._id}}">View</div>
			<span class="team_list_name">
				{{this.from.firstName}} {{this.from.lastName}}
			</span>
		</div>
		<div class="rating_content">
			<div class="ratings">
				<p>{{this.comment}}</p>
			</div>
			<div>
				<ul class="stars left">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<span class="right">
					{{#if this.isVisible}}
						<button class="showBtn hide">Show On Profile</button>
						<button class="hideBtn show">Hide From Profile</button>
					{{else}}
						<button class="showBtn show">Show On Profile</button>
						<button class="hideBtn hide">Hide From Profile</button>
					{{/if}}
				</span>
			</div>
		</div>
	</li>
</script>

<!-- Job List Template -->
<script id="tmpl-joblist" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="job">
					<a href="/#!/jobs/viewJob={{this._id}}">
						<span class="job_title">{{this.title}}</span>
						<span class="view_job">View Job</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p>No jobs found.</p>
	{{/if}}
</script>

<!-- Job Requirement List Template -->
<script id="tmpl-jobreqlist" type="text/x-handlebars-template">
	<li class="req">
		<input type="text" name="requirements" class="required" />
		<a href="#" class="job_req_rem"></a>
	</li>
</script>