<!--
	beelancer - templates.html
	Author: Gordon Hall
-->

<!-- Confirm Box -->
<script id="tmpl-bee-ui_confirm" type="text/x-handlebars-template">
	<div id="bee-ui_confirm">
		<div class="light-gradient popup animated flipInY">
			<p>{{message}}</p>
			<ul class="popup-options">
				<li>
					<button id="bee-ui_confirm_cancel" class="light-gradient">Cancel</button>
				</li>
				<li>
					<button id="bee-ui_confirm_ok" class="gold-gradient">Confirm</button>
				</li>
			</ul>
		</div>
	</div>
</script>

<!-- Worklog Add/Edit Entry -->
<script id="tmpl-add_worklog_entry" type="text/x-handlebars-template">
	<div id="bee-ui_add_worklog_entry">
		<form data-id="{{_id}}" class="light-gradient popup animated bounceInUp">
			<h4 class="gold-gradient">Worklog Entry</h4>
			<div class="group">
				<label for="wlog_startTime">
					<span>Started:</span>
					<input type="text" name="started" value="{{log.started}}" id="wlog_startTime" />
				</label>
				<label for="wlog_endTime">
					<span>Ended:</span>
					<input type="text" name="ended" value="{{log.ended}}" id="wlog_endTime" />
				</label>
			</div>
			<div id="wlog_error"></div>
			<label class="full_block" for="wlog_message">
				<span>Notes:</span>
				<textarea id="wlog_message" name="message">{{message}}</textarea>
			</label>
			<input class="gold-gradient" type="submit" id="save_worklog" value="Save Worklog Entry" />
		</form>
	</div>
</script>

<!-- Projects List -->
<script id="tmpl-projects_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li>
					<a href="/#!/projects?viewProject={{_id}}" {{#if pastDue}}class="overdue"{{/if}}>
						<strong>{{title}}</strong>
						<span class="project_due">{{deadlineText}}</span>
						<em class="percent_bar">
							<em class="progress" style="width:{{percentComplete}}%"></em>
							<span class="percent">{{percentComplete}}% Complete</span>
						</em>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects"><em>None</em></p>
	{{/if}}
</script>

<!-- Project Details -->
<script id="tmpl-user_showcase" type="text/x-handlebars-template">
	<a href="/#!/team?viewProfile={{_id}}">
		<img src="{{avatarPath}}" width="24px" height="24px" />
		<span>{{firstName}} {{lastName}}</span>
	</a>
</script>

<!-- Project Details -->
<script id="tmpl-user" type="text/x-handlebars-template">
	<a class="bee_user" href="/#!/team?viewProfile={{_id}}">
		<img src="{{avatarPath}}" width="16px" height="16px" />
		<span>{{firstName}} {{lastName}}</span>
	</a>
</script>

<!-- Project Details -->
<script id="tmpl-project_details" type="text/x-handlebars-template">
	<div class="center-pane">
		<div class="top_options">
			{{#if isOwner}}
				<strong class="gold-gradient option_button">
					<a href="/#!/projects?newProject=true&projectId={{_id}}" class="edit_project">Edit</a>
				</strong>
				<strong class="gold-gradient option_button">
					<a class="delete_project">Delete</a>
				</strong> 
				<strong class="gold-gradient option_button">
					{{#if isActive}}
						<a class="project_status close_project">Close</a>
					{{else}}
						<a class="project_status reopen_project">Reopen</a>
					{{/if}}
				</strong>
				<strong class="gold-gradient option_button">
					<a href="/#!/invoices?createInvoice=true&projectId={{_id}}" class="bill_client">Invoice</a>
				</strong>
			{{/if}}
			<strong class="gold-gradient option_button">
				<a class="leave_project">Leave Team</a>
			</strong>
		</div>
		<div class="two3rds">
			<div id="project_details" data-id="{{_id}}">
				<h3 class="title">{{title}}</h4>
				<ul class="project_info">
					<li>
						<strong>Owned By:</strong> 
						<span id="project-owned-by" data-owner="{{owner.profile}}"></span>
					</li>
					<li>
						<strong>Deadline:</strong> 
						<span id="task-deadline">
							{{#if isActive}}
								{{#if isOverdue}}
									Due <span>{{daysText}}</span> days ago.
								{{else}}
									Due in <span>{{daysText}}</span> days.
								{{/if}}
							{{else}}
								<span>This project is closed.</span>
							{{/if}}
						</span>
					</li>
				</ul>
				<div class="viewproject_description">
					<div class="markdown rollout">
						{{{description}}}
					</div>
				</div>
			</div>
		</div>
		<div class="col3">
			<div class="col-header files light-gradient">
				<h3>Stats</h3>
			</div>
			<ul class="project_stats">
				<li>
					{{tasks.length}} Total Tasks
					<a href="/#!/tasks?forProject={{_id}}" class="squarebutton viewdetails">View</a>
					<a href="/#!/tasks?newTask=true&projectId={{_id}}" class="squarebutton addnew">Add</a>
				</li>
				<li>
					{{members.length}} Participants
					<a href="/#!/team?projectId={{_id}}" class="squarebutton viewdetails">View</a>
					<a id="project_add_team" class="squarebutton addnew">Add</a>
				</li>
				<li>
					<em class="percent_bar">
						<em class="progress" style="width:{{percentComplete}}%"></em>
						<span class="percent">{{percentComplete}}% Complete</span>
					</em>
				</li>
			</ul>
		</div>
		<div class="col3">
			<div class="col-header files light-gradient">
				<h3>
					Files
					<button class="greybutton addfile">Add</button>
				</h3>
			</div>
			<div id="files_list">
				{{#if files.length}}
					<ul class="project_files">
						{{#if files}}
							{{#each files}}
								{{#if ended}}
									<li data-fileId="{{_id}}"></li>
								{{/if}}
							{{/each}}
						{{/if}}
					</ul>
				{{else}}
					<p class="no_projects">No files attached to project.</p>
				{{/if}}
			</div>
		</div>
	</div>
</script>

<!-- Project Tasks List -->
<script id="tmpl-project_tasks" type="text/x-handlebars-template">
	<li class="list-task" id="task-{{this._id}}">
		<a href="/#!/tasks?viewTask={{_id}}">
			<span class="task-list-title">{{title}}</span>
			{{#if isComplete}}
				<span class="task-list-status complete">Task Completed</span>
			{{else}}
				<span class="task-list-status open">Task Open</span>
			{{/if}}
		<!--<span class="task-list-hours">{{hoursWorked}} hours tracked.</span>-->
		</a>
	</li>
</script>

<!-- Member List Item -->
<script id="tmpl-list_member" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<li class="member_item"{{#if this.ratings.average}} title="Rating: {{this.ratings.average}}, # of Ratings: {{this.ratings.total}}"{{/if}}>
				<a href="/#!/team?viewProfile={{_id}}">
					<img src="{{avatarPath}}" width="32px" height="32px" />
					<span class="member-name">{{firstName}} {{lastName}}</span>
					<span class="member-title">{{title}}</span>
					<strong class="rating">{{ratings.average}}</strong>
				</a>
			</li>
		{{/each}}
	{{else}}
		{{#if this.firstName}}
			<a href="/#!/team?viewProfile={{_id}}">
				<img src="{{#if avatarPath}}{{avatarPath}}{{else}}/assets/images/default-avatar.jpg{{/if}}" width="32px" height="32px" />
				<span class="member-name">{{firstName}} {{lastName}}</span>
				<span class="member-title">{{title}}</span>
				<strong class="rating">{{ratings.average}}</strong>
			</a>
		{{else}}
			<p class="no_projects">No users found.</p>
		{{/if}}
	{{/if}}
</script>

<!-- Team Populate -->
<script id="tmpl-populate_team" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="teammember" data-id="{{this._id}}">
					<img src="{{this.avatarPath}}" width="32px" height="32px" alt="{{this.avatarPath}}" />
					<span class="team_list_name">{{this.firstName}} {{this.lastName}}</span>
				</li>
			{{/each}}
		</ul>
	{{else}}	
		<p class="no_projects">
			No teammates.
		</p>
	{{/if}}
</script>

<!-- Message List -->
<script id="tmpl-message_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this._id}}" data-from="{{#if this.isCurrent}}{{this.to._id}}{{else}}{{this.from._id}}{{/if}}">
					<div class="msg_from">
						{{#if isCurrent}}
							<img src="{{this.to.avatarPath}}" width="24px" height="24px" alt="{{this.to.avatarPath}}" />
						{{else}}
							<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						{{/if}}
						<span class="team_list_name">
							{{#if isCurrent}}
								{{this.to.firstName}} {{this.to.lastName}}
							{{else}}
								{{this.from.firstName}} {{this.from.lastName}}
							{{/if}}
							<span class="msg_sentOn">{{this.sentOn}}</span>
						</span>
					</div>
					<p>{{this.body}}</p>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">You have no messages.</p>
	{{/if}}
</script>

<!-- Message View -->
<script id="tmpl-message_view" type="text/x-handlebars-template">
	<div class="light-gradient center-pane animated fadeInUp">
		<div class="messageview_body">
			<ul>
				{{#each this}}
					<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this.from._id}}" data-message="{{this._id}}">
						<div class="msg_from">
							{{#if this.isCurrent}}
								<div class="this_user">
									<span class="team_list_name">
										You
										<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
									</span>
								</div>
							{{else}}
								<div class="user_message" data-user="{{this.from.user}}">
									<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
									<span class="team_list_name">
										{{this.from.firstName}} {{this.from.lastName}}
									</span>
								</div>
							{{/if}}
						</div>
						<div class="msg_body">
							<p{{#if this.isCurrent}} class="current_body"{{/if}}><span class="msg_sentOn">{{this.sentOn}}</span>{{this.body}}</p>
							{{#if this.attachment}}
								<div class="msg_attachment">
									<button class="light-gradient msg_action_decline" data-id="{{this._id}}">Decline</button>
									<button class="gold-gradient msg_action_accept" data-action="{{this.attachment.action}}" data-data="{{this.attachment.data}}" data-id="{{this._id}}">Accept</button>
								</div>
							{{/if}}
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="message_compose">
			<input type="text" id="convo_compose" name="convo_compose" placeholder="Type your message here..." />
			<span id="convo_submit"></span>
		</div>
	</div>
</script>

<!-- Individual Message Template -->
<script id="tmpl-ind_message" type="text/x-handlebars-template">
	<li class="message {{#if this.isRead}}isRead{{/if}}" data-id="{{this.from._id}}">
		<div class="msg_from">
			<div class="msg_from">
				{{#if this.isCurrent}}
					<div class="this_user">
						<span class="team_list_name">
							You
							<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						</span>
					</div>
				{{else}}
					<div class="user_message" data-user="{{this.from.user}}">
						<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
						<span class="team_list_name">
							{{this.from.firstName}} {{this.from.lastName}}
						</span>
					</div>
				{{/if}}
			</div>
			<div class="msg_body">
				<p{{#if this.isCurrent}} class="current_body"{{/if}}><span class="msg_sentOn">{{this.sentOn}}</span>{{this.body}}</p>
				{{#if this.attachment}}
					<div class="msg_attachment">
						<button class="light-gradient" id="msg_action_decline" data-id="{{this._id}}">Decline</button>
						<button class="gold-gradient" id="msg_action_accept" data-action="{{this.attachment.action}}" data-data="{{this.attachment.data}}" data-id="{{this._id}}">Accept</button>
					</div>
				{{/if}}
			</div>
		</div>
	</li>
</script>

<!-- User Profile -->
<script id="tmpl-user_profile" type="text/x-handlebars-template">
	<div class="center-pane">
		<div class="top_options">
			{{#if isMyself}}
				<div class="you">This is you!</div>
			{{else}}
				<strong class="gold-gradient option_button">
					<a href="/#!/messages?compose=true&reply={{_id}}" class="message">Message</a>
				</strong>
				<strong class="gold-gradient option_button">
					<a class="endorse">Endorse</a>
				</strong>
				{{#if isOnTeam}}
					<strong class="gold-gradient option_button">
						<a class="remove">Remove</a>
					</strong>
				{{else}}
					<strong class="gold-gradient option_button">
						<a class="invite">Invite</a>
					</strong>
				{{/if}}
			{{/if}}
		</div>
		<div class="two3rds">
			<div id="user_details" data-id="{{_id}}">
				<img src="{{avatarPath}}?s=160" height="160" width="160" />
				<h3 class="title">{{firstName}} {{lastName}}</h4>
				<ul class="user_info">
					<li class="user-title">
						<span>{{title}}</span> 
					</li>
					<li class="user-company">
						<span>Works at {{company}}</span> 
					</li>
					<li class="user-rating">
						<span>Rated {{ratings.average}} out of 5 <em><small>({{ratings.total}} total ratings)</small></em></span> 
					</li>
				</ul>
				<div class="user_about">
					<div class="user-blurb">
						{{about}}
					</div>
				</div>
			</div>
		</div>
		<div class="col3">
			<div class="col-header endorsements light-gradient">
				<h3>Endorsements</h3>
			</div>
			<ul class="endorsements_list">
				<div class="loader"></div>
			</ul>
		</div>
	</div>

	<div class="modal-container" id="team_endorsement">
		<div id="endorse_compose" class="center-pane">
			<div class="top_options">
				<strong class="gold-gradient option_button">
					<a class="update-endorse">Update</a>
				</strong>
				<strong class="gold-gradient option_button">
					<a class="submit-endorse">Endorse</a>
				</strong>
			</div>
			<form id="endorse_user">
				<label for="comment">
					<textarea id="comment" name="comment" placeholder="Type your endorsement here..." maxlength="250"></textarea>
				</label>
				<input type="hidden" id="rating_id" name="rating_id" />
				<ul class="stars">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="endorse_submit_wrapper gold-gradient">
					<input type="submit" class="send_endorsement" value="Endorse!" />
				</div>
				<div class="update_submit_wrapper gold-gradient">
					<input type="submit" class="update_endorsement" value="Update Endorsement" />
				</div>
			</form>
		</div>
	</div>
</script>

<!-- Ratings list -->
<script id="tmpl-profile_ratings" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<li>
				<div class="rating_from">
					<div class="from_user">
						<img src="{{this.fromUser.avatarPath}}" width="32px" height="32px" />
						<span class="endorse_name"><strong>{{this.fromUser.firstName}} {{this.fromUser.lastName}}</strong> says...</span>
						<p class="rating-comment">{{this.comment}}</p>
						<div class="rating">
							<ul class="stars">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<input type="hidden" name="star_rating" id="star_rating" value="{{this.rating}}" />
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	{{else}}
		<p class="no_projects">None</p>
	{{/if}}
</script>

<!-- Remove user from project -->
<script id="tmpl-removefromproject" type="text/x-handlebars-template">
	<span class="removefromproject">X</span>
</script>

<!-- Task Details -->
<script id="tmpl-task_details" type="text/x-handlebars-template">
	<div class="top_options">
		<strong class="gold-gradient option_button">
			<a href="/#!/tasks?editTask=true&taskId={{_id}}" class="edit_task">Edit</a>
		</strong>
		<strong class="gold-gradient option_button">
			<a class="delete_task">Delete</a>
		</strong>
		<strong class="gold-gradient option_button">
			<a class="task_status"></a>
		</strong>
	</div>
	<div class="two3rds">
		<div id="task_details" data-id="{{_id}}">
			<h3 class="title">{{title}}</h3>
			<div id="task_timer_controls"></div>
			<ul class="task_info">
				<li>
					<strong>Assignee:</strong> 
					{{#if assignee}}
						<span id="task-assigned-to" data-assignee="{{assignee.profile}}"></span>
					{{else}}
						<em>Unassigned</em>
					{{/if}}
				</li>
				<li>
					<strong>Owner:</strong> 
					<span id="task-owned-by" data-owner="{{owner.profile}}"></span>
				</li>
				<li>
					<strong>Project:</strong> <a href="/#!/projects?viewProject={{project._id}}">{{project.title}}</a>
				</li>
				<li>
					<strong>Rate:</strong> 
					<span class="rate">${{rate}}</span>
					<em class="rate-type">{{#if isFixedRate}}(fixed){{else}}per hour{{/if}}</em>
				</li>
				<li>
					<strong>Time Worked:</strong> 
					<span class="time"></span>
				</li>
				<li>
					{{#if isFixedRate}}
						<strong>Unbilled:</strong> <span>${{rate}}</span>
					{{else}}
						<strong>Unbilled:</strong> <span class="calc-cost"></span>
					{{/if}}
				</li>
			</ul>
		</div>
	</div>
	<div class="col3">
		<div class="col-header worklog light-gradient">
			<h3>
				Work Log
				<button class="timer entry">Add</button>
			</h3>
		</div>
		<div id="task_worklog">
			{{#if worklog.length}}
				<ul class="work_log">
					{{#each this.worklog}}
						{{#if ended}}
							<li data-id="{{_id}}">
								<strong class="wlog-time">
									<span class="wlog-started">{{started}}</span>
									<span class="wlog-ended">{{ended}}</span>
									<span class="wlog-hours"></span> on <span class="wlog-day"></span>
								</strong>
								<button class="wlog delete">Delete Entry</button>
								<button class="wlog edit">Edit Entry</button>
								<p>{{message}}</p>
							</li>
						{{/if}}
					{{/each}}
				</ul>
			{{else}}
				<p class="no_projects">No work history yet.</p>
			{{/if}}
		</div>
	</div>
</script>

<!-- Task Timer -->
<script id="tmpl-task_timer" type="text/x-handlebars-template">
	<!-- Compile With Last WorkLog Entry in worklog -->
	{{#if ended}}
		<strong>Status: </strong>
		<span class="status">Paused</span>
		<button class="timer start">Start Working</button>
	{{else}}
		<strong>Status: </strong>
		<span class="status">Timing</span>
		<button class="timer stop">Stop Working</button>
	{{/if}}	
</script>

<!-- Tasks List -->
<script id="tmpl-tasks_list" type="text/x-handlebars-template">
	{{#if length}}
		<ul class="task_list">
			{{#each this}}
				<li>
					{{#if assignee}}
						<strong class="task_assignee" data-assignee="{{tasks.[0].assignee.profile}}"></strong>
						<ul class="task_list">
							{{#each tasks}}
								<li>
									<a href="/#!/tasks?viewTask={{_id}}">
										<strong class="task_title">{{title}}</strong>
										<em class="task_rate">
											${{rate}}
											{{#if isFixedRate}}
												 total
											{{else}}
												 per hour
											{{/if}}
										</em>
									</a>
								</li>
							{{/each}}
						</ul>
					{{else}}
						<ul class="task_list">
							<li>
								<a href="/#!/tasks?viewTask={{_id}}">
									<strong class="task_title">{{title}}</strong>
									<em class="task_rate">
										${{rate}}
										{{#if isFixedRate}}
											 total
										{{else}}
											 per hour
										{{/if}}
									</em>
								</a>
							</li>
						</ul>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects"><em>None</em></p>
	{{/if}}
</script>

<!-- Task Project List -->
<script id="tmpl-projectForTask" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<option value="{{this._id}}">{{this.title}}</option>
		{{/each}}
	{{else}}
		<option>No Projects</option>
	{{/if}}
</script>

<!-- Task Project List -->
<script id="tmpl-noProjectForTaskView" type="text/x-handlebars-template">
	<p class="noProject">In order to create a new task, you must first create a project to assign it to. Click <a href="/#!/projects?newProject=true">here</a> to get started creating a new project.</p>
</script>

<!-- Job Category List -->
<script id="tmpl-catsForJob" type="text/x-handlebars-template">
	{{#if this.length}}
		{{#each this}}
			<option value="{{this.id}}">{{this.title}}</option>
		{{/each}}
	{{/if}}
</script>

<!-- Job Task List -->
<script id="tmpl-taskForJobs" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="job_task_option">
					<label for="{{this._id}}">
						<input type="checkbox" id="{{this._id}}" name="tasks" value="{{this._id}}" />
						<span class="job_task_title">{{this.title}}</span>
						<a href="/#!/tasks?viewTask={{this._id}}" class="view_task">View</a>
					</label>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</script>

<!-- Assignee For Task -->
<script id="tmpl-assigneeForTask" type="text/x-handlebars-template">
	{{#if this.length}}
		<option value="">Unassigned</option>
		{{#each this}}
			<option value="{{this.user}}">{{this.firstName}} {{this.lastName}}</option>
		{{/each}}
	{{else}}
		<option>Unassigned</option>
	{{/if}}
</script>

<!-- Account Endorsement Template -->
<script id="tmpl-accountEndorsement" type="text/x-handlebars-template">
	<li class="endorse {{#if this.needsAction}}needsAction{{/if}}" data-id="{{this._id}}">
		<div class="msg_from">
			<img src="{{this.from.avatarPath}}" width="24px" height="24px" alt="{{this.from.avatarPath}}" />
			<div class="view_endorse" data-id="{{this._id}}">View</div>
			<span class="team_list_name">
				{{this.from.firstName}} {{this.from.lastName}}
			</span>
		</div>
		<div class="rating_content">
			<div class="ratings">
				<p>{{this.comment}}</p>
			</div>
			<div>
				<ul class="stars left">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<span class="right">
					{{#if this.isVisible}}
						<button class="showBtn hide">Show On Profile</button>
						<button class="hideBtn show">Hide From Profile</button>
					{{else}}
						<button class="showBtn show">Show On Profile</button>
						<button class="hideBtn hide">Hide From Profile</button>
					{{/if}}
				</span>
			</div>
		</div>
	</li>
</script>

<!-- Job List Template -->
<script id="tmpl-joblist" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="job" title="{{this.description}}">
					<a href="/#!/jobs?viewJob={{this._id}}">
						<span class="job_title">{{this.title}}</span>
						<span class="view_job">View Job</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">No jobs found.</p>
	{{/if}}
</script>

<!-- Job Requirement List Template -->
<script id="tmpl-jobreqlist" type="text/x-handlebars-template">
	<li class="req">
		<input type="text" name="requirements" placeholder="Start typing a requirement..." />
		<a href="#" class="job_req_rem"></a>
	</li>
</script>

<!-- Job Edit Requirement List Template -->
<script id="tmpl-jobeditreqlist" type="text/x-handlebars-template">
	{{#each this}}
		<li class="req">
			<input type="text" name="requirements" value="{{this}}" placeholder="Start typing a requirement..." />
			<a href="#" class="job_req_rem"></a>
		</li>
	{{/each}}	
</script>

<!-- Job No Job Span Template -->
<script id="tmpl-nojobspan" type="text/x-handlebars-template">
	<p class="no_projects">{{message}}</span>
</script>

<!-- Job New/Edit Template -->
<script id="tmpl-jobnew" type="text/x-handlebars-template">
	<div class="group">
		<label for="newjob_title">
			<span>Title: </span>
			<input class="required" type="text" id="title" placeholder="" name="title"{{#if title}}value="{{title}}"{{/if}} />
		</label>
		<label for="newjob_cat">
			<span>Category: </span>
			<select class="required" id="category" name="category">
				<option value="null">Loading categories...</option>
			</select>
		</label>
	</div>
	<div class="full_block">
		<label for="newjob_desc">
			<span>Description: </span>
			<textarea class="required" id="description" name="description">{{#if description}}{{description}}{{/if}}</textarea>
		</label>
	</div>
	<h4 class="gold-gradient">Requirements</h4>
	<p class="hint">
		This should be a list of requirements that both you and the eventual assignee agree to.<br />(ex. 'Create Design', 'Implement Design', 'Create Documentation', etc.)
	</p>
	<div class="full_block">
		<label for="newjob_reqs" class="req_label">
			<div class="job_req_list">
				<ul class="requirements_list">
					<li class="req">
						<input type="text" name="requirements" class="required" placeholder="Start typing a requirement..." />
					</li>
				</ul>
			</div>
			<div class="add_req">
				<a href="#" id="job_add_req">Add</a>
			</div>
		</label>
	</div>
	<h4 class="gold-gradient">Tasks</h4>
	<div class="full_block">
		<label for="job_tasks" class="task_label">
			<span>Job Task(s): </span>
			<div id="job_task_list">Loading task(s)...</div>
		</label>
	</div>
	<div class="full_block" id="job_unass_group">
		<label for="job_unassigned_tasks" class="task_label">
			<span>Unassigned Task(s): </span>
			<div id="job_unassigned_task_list">Loading task(s)...</div>
		</label>
	</div>
	<h4 class="gold-gradient">Listing</h4>
	<div class="group">
		<p class="hint listing-date-desc">This determines when the job will be posted to the jobs board and for how long.  The longer the amount of the time, the higher the cost associated with posting the job becomes.</p>
		<label for="listingDateStart">
			<span>Start: </span>
			<input type="text" id="listingDateStart" placeholder="" name="listingDateStart"{{#if listing.start}}value="{{listing.start}}"{{/if}} />
		</label>
		<label for="listingDateEnd">
			<span>End: </span>
			<input type="text" id="listingDateEnd" placeholder="" name="listingDateEnd"{{#if listing.end}}value="{{listing.end}}"{{/if}} />
		</label>
	</div>
	<label class="big_radio isPromoted" for="newjob_isPromoted">
		<input id="newjob_isPromoted" type="checkbox" name="isPromoted" value="true"{{#if listing.isPromoted}}checked{{/if}} /> Promote this job
		<p>
			By promoting this job, it will be given priority and will show up before other unpromoted jobs on the jobs board and when searching for jobs.  You are limited to three promoted jobs at a time.
		</p>
	</label>
	<div class="job_buttons">
		{{#if isPublished}}
			<div class="unpublish_job_submit_wrapper gold-gradient" id="unpublish_btn">
				<input type="submit" id="unpublish_job" value="Unpublish Job" />
			</div>
		{{else}}
			<div class="save_job_submit_wrapper light-gradient">
				<input type="submit" id="save_job" value="Save Job" />
			</div>
			<div class="publish_job_submit_wrapper gold-gradient">
				<input type="submit" id="publish_job" value="Publish Job" />
			</div>
		{{/if}}
	</div>
</script>

<!-- Job View Template -->
<script id="tmpl-jobview" type="text/x-handlebars-template">
	<div class="light-gradient center-pane animated fadeInUp">
		<div id="job_details" data-id="{{_id}}">
			<h4 class="gold-gradient">{{title}}</h4>
			{{#if isPublished}}
				<div class="job-published published">Published</div>
			{{else}}
				{{#if assignee}}
					<div class="job-published in_progress">In Progress</div>
				{{else}}
					<div class="job-published unpublished">Unpublished</div>
				{{/if}}
			{{/if}}
			<div class="job-watch">
				<button class="job-watch-btn">Watch Job</button>
				<button class="job-unwatch-btn">Unwatch Job</button>
			</div>
			<div class="job-own-contain">
				<strong>This job is owned by:</strong>
				<div>
					<div class="user_showcase">
						<img src="{{owner.profile.avatarPath}}" width="48px" height="48px">
						<strong>{{owner.profile.firstName}} {{owner.profile.lastName}}</strong>
						<em>{{owner.profile.title}}</em>
						<a href="/#!/team?viewProfile={{owner.profile._id}}">View Profile</a>
					</div>
				</div>				
			</div>
			{{#if assignee}}
				<div class="job-assignee">
					<strong>This job is assigned to:</strong>
					<div>
						<div class="user_showcase">
							<img src="{{assignee.avatarPath}}" width="48px" height="48px">
							<strong>{{assignee.firstName}} {{assignee.lastName}}</strong>
							<em>{{assignee.title}}</em>
							<a href="/#!/team?viewProfile={{assignee._id}}">View Profile</a>
						</div>
					</div>
				</div>
			{{/if}}
			<div class="job-cat">
				<strong>Category:</strong>
				<span>{{category.title}}
			</div>
			<div class="job-desc full-block">
				<div class="markdown rollout">
					{{description}}
				</div>
			</div>
			<div class="job-posting-stats">
				{{#if assignee}}
					Job is closed for bidding.
				{{else}}
					{{#if listing.end}}
						Job is available for bidding until <strong>{{listing.end}}</strong>.
					{{else}}
						Job has not been published for bidding.
					{{/if}}
				{{/if}}
			</div>
			<div class="float_wrap">
				<div class="job-tasks half_list">
					<h5 class="half-list-header">Tasks:</h5>
					<ul class="rollout none">
						{{#each tasks}}
							<li>
								<span>{{title}}</span>
								<span class="task-rate">${{rate}} {{#if isFixedRate}}(fixed){{else}}(hourly){{/if}}</span>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="job-reqs half_list">
					<h5 class="half-list-header">Requirements:</h5>
					<ul class="rollout none">
						{{#each requirements}}
							<li>
								<span>{{this}}</span>
								<a href="#" data-req="{{this}}" class="req-bid-accept">Accept</a>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="job-bids group">
				<strong>Bids:</strong>
				<ul></ul>
			</div>
			<div class="job-bid-view">
				<strong>Message:</strong>
				<textarea class="required" id="message" name="message" placeholder="Type message here..."></textarea>
				<div class="bid_job_submit_wrapper gold-gradient">
					<input type="submit" id="bid_job" value="Bid on Job" />
				</div>
			</div>
		</div>
	</div>
</script>

<!-- Job Task List Template -->
<script id="tmpl-jobtasklist" type="text/x-handlebars-template">
	<h5 class="half-list-header">Tasks:</h5>
	<ul class="rollout none">
		{{#each this}}
			<li>
				<span>{{title}}</span>
				<span class="task-rate">${{rate}} {{#if isFixedRate}}(fixed){{else}}(hourly){{/if}}</span>
			</li>
		{{/each}}
	</ul>
</script>

<!-- Job Bid List Template -->
<script id="tmpl-jobbidlist" type="text/x-handlebars-template">
	<li class="bid">
		<div class="bid_container" data-id="{{this._id}}">
			<div class="profile"{{#if profile.ratings.average}} title="Rating: {{profile.ratings.average}}, # of Ratings: {{profile.ratings.total}}"{{/if}}>
				<img src="{{profile.avatarPath}}" width="32px" height="32px" />
				<span class="member-name">{{profile.firstName}} {{profile.lastName}}</span>
				<p>{{this.message}}</p>
			</div>
			{{#if isAccepted}}

			{{else}}
				<span class="gold-gradient accept">Accept Bid</span>
			{{/if}}
		</div>
	</li>
</script>

<!-- Credit Card Error Span Template -->
<script id="tmpl-ccspan" type="text/x-handlebars-template">
	<span class="cc-error">{{message}}</span>
</script>

<!-- Job Credit Card Popup Template -->
<script id="tmpl-creditcard" type="text/x-handlebars-template">
	<div id="credit-popup">
		<div class="light-gradient popup animated flipInY">
			{{#if hireCall}}
				<strong class="heading">Reminder - Your card will be charged the posting cost of this job (if the user accepts): {{this.listing.cost}}</strong>
			{{else}}
				<strong class="heading">Cost to Post this Job: {{this.listing.cost}}</strong>
			{{/if}}
			<div class="credit-card-info group">
				<form id="credit-card">
					<div class="cc-group">
						<label for="name">
							<span>Cardholder's Name:</span>
							<input type="textbox" id="name" name="name" class="required" />
						</label>
					</div>
					<div class="cc-group">
						<label class="left" for="number">
							<span>Credit Card Number:</span>
							<input type="textbox" id="number" name="number" class="required" />
						</label>
						<label for="cvc">
							<span>CCV:</span>
							<input type="textbox" id="cvc" name="cvc" class="required small" />
						</label>
					</div>
					<div class="cc-group">
						<label class="left heading">
							<span>Expiration Date:</span>
						</label>
						<label class="left" for="expiration">
							<input type="textbox" id="exp_month" name="exp_month" placeholder="MM" class="required small" />
							<input type="textbox" id="exp_year" name="exp_month" placeholder="YYYY" class="required small" />
						</label>
					</div>
					<div class="cc-buttons">
						<ul class="popup-options">
							<li>
								<button id="bee-ui_confirm_cancel" class="light-gradient">Cancel</button>
							</li>
							<li>
								<button id="bee-ui_confirm_ok" class="gold-gradient">Confirm</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>

<!-- Invoice Template -->
<script id="tmpl-invoice" type="text/x-handlebars-template">
	<div class="invoice_container">
		<div class="rollout markdown">
			{{#if error}}
				Couldn't load invoice.
			{{else}}
				{{#if isPaid}}
					<div class="invoice_paid">PAID</div>
				{{/if}}
				<div class="float_wrap">
					<div class="half_list">
						<h3>From:</h3>
						<div class="details">
							<div>
								{{#if owner.profile.company}}
									<strong>{{owner.profile.company}}</strong>
								{{/if}}
								<span>{{owner.profile.firstName}} {{owner.profile.lastName}}</span>
								<em>{{owner.profile.email}}</em>
							</div>
						</div>
						<h3>To:</h3>
						<div class="details">
							<div>
								{{#if recipient}}
									<strong>{{recipient.profile.company}}</strong>
									<span>{{owner.profile.firstName}} {{owner.profile.lastName}}</span>
								{{/if}}
								<em>{{externalRecipient}}</em>
							</div>
						</div>
					</div>
					<div class="half_list">
						<h2>Invoice</h2>
						<em>ID: {{_id}}</em>
					</div>
				</div>
				<table cellspacing="0">
					<thead>
						<tr>
							<th style="width: 60%;">Task</th>
							<th>Time</th>
							<th>Rate</th>
						</tr>
					</thead>
					<tbody>
						{{#each tasks}}
							<tr>
								<td>
									{{this.title}}<br />
									{{#if this.job}}
										<em>{{this.job.title}}</em>
									{{else}}
										<em>{{this.project.title}}</em>
									{{/if}}
								</td>
								<td class="time_worked_task">
									<em>Calculating...</em>
								</td>
								<td>$ {{this.rate}} {{#if this.isFixedRate}}(Fixed){{else}}(Hourly){{/if}}</td>
							</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td>&nbsp;</td>
							<td>Total: </td>
							<td>$ {{amount}}</td>
						</tr>
					</tfoot>
				</table>
				<div class="description">
					<p>
						{{description}}
					</p>
					<div class="sent_with">
						Sent using <a href="http://beelancer.com">Beelancer</a>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</script>

<!-- Invoices List -->
<script id="tmpl-invoices_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li class="invoice_list_item">
					<a href="/#!/invoices?viewInvoice={{_id}}" {{#if pastDue}}class="overdue"{{/if}}>
						<em><strong>To: {{externalRecipient}}</strong></em>
						<strong class="{{#if isPaid}}paid{{else}}unpaid{{/if}}">
							{{#if isPaid}}paid{{else}}unpaid{{/if}}
						</strong>
						<span class="invoice_amount">$ {{amount}}</span>
						<span class="description">{{description}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">No invoices to display.</p>
	{{/if}}
</script>

<!-- Invoice Type Options -->
<script id="tmpl-invoice_type_options" type="text/x-handlebars-template">
	{{#if list.length}}
		{{#each list}}
			<option value="{{_id}}">{{title}}</option>
		{{/each}}
	{{else}}
			<option value="none">No {{#if job}}Jobs{{else}}Projects{{/if}}</option>
	{{/if}}
</script>

<!-- Invoice Task List -->
<script id="tmpl-invoice_task_list" type="text/x-handlebars-template">
	{{#if tasks.length}}
		<ul>
			{{#each tasks}}
				{{#if isPaid}}
					<!-- Do not list -->
				{{else}}
					<li>
						<label>
							<input type="checkbox" value="{{_id}}" name="tasks" class="invoice_task" />
							<span>{{title}}</span>
						</label>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	{{else}}
		<p><small><em>There are no completed tasks to add.</em></small></p>
	{{/if}}
</script>

<!-- Invoice Task List -->
<script id="tmpl-paymentStatus" type="text/x-handlebars-template">
	<h4 class="gold-gradient">Payments &amp; Billing</h4>
	<p class="hint">
		In order to send and recieve payments, you will need to setup both a <strong>payment</strong> 
		and <strong>payout</strong> account. For details regarding how we handle your information, see 
		our <a href="/#!/privacy">Privacy Policy</a>.
	</p>
	<div class="payment_account_status">
		<div class="payment_method">
			<h3 class="light-gradient status exists-{{paymentCard.exists}}">
				<strong>Payment Account:</strong>
				{{#if paymentCard.exists}}
					<em>XXXXXXXXXXXX-{{paymentCard.account}}</em>
				{{else}}
					<em>None</em>
				{{/if}}
				<button data-action="new_credit_card" class="save">Save</button>
				{{#if paymentCard.exists}}<button class="remove" data-type="card">Remove</button>{{/if}}
				<button class="update">Change</button>
			</h3>
			<p class="hint">This is the credit or debit card used to send payments.</p>
			<form class="payment-method-new" id="new_credit_card">
				<div class="group">
					<label for="card-cardNumber">
						<span>Card Number:</span>
						<input type="text" id="" name="cardNumber" placeholder="" />
					</label>
					<label for="card-securityCode">
						<span>Security Code:</span>
						<input type="text" id="card-securityCode" name="securityCode" placeholder="CVV" />
					</label>
					<label>
						<span>Exp. Month:</span>
						<input type="text" name="expirationMonth" maxlength="2" placeholder="MM" />
					</label>
					<label>
						<span>Exp. Year:</span>
						<input type="text" name="expirationYear" maxlength="4" placeholder="YYYY" />
					</label>
				</div>
			</form>
		</div>
		<div class="payment_method">
			<h3 class="light-gradient status exists-{{bankAccount.exists}}">
				<strong>Payout Account:</strong>
				{{#if bankAccount.exists}}
					<em>{{bankAccount.account}}-XXXXX</em>
				{{else}}
					<em>None</em>
				{{/if}}
				<button data-action="new_bank_account" class="save">Save</button>
				{{#if bankAccount.exists}}<button class="remove" data-type="bank">Remove</button>{{/if}}
				<button class="update">Change</button>
			</h3>
			<p class="hint">This is the bank account to which you will receive payments from others.</p>
			<form class="payment-method-new" id="new_bank_account">
				<div class="group">
					<label for="bank-name">
						<span>Name on Account:</span>
						<input type="text" id="bank-name" name="name" />
					</label>
					<label for="bank-accountNumber">
						<span>Account Number:</span>
						<input type="text" id="bank-accountNumber" name="accountNumber" />
					</label>
					<label for="bank-routingNumber">
						<span>Routing Number:</span>
						<input type="text" id="bank-routingNumber" name="routingNumber" />
					</label>
					<label for="bank-type">
						<span>Account Type:</span>
						<select id="bank-type" name="type">
							<option value="checking">Checking</option>
							<option value="savings">Savings</option>
						</select>
					</label>
				</div>
			</form>
		</div>
	</div>
</script>

<!-- User Welcome -->
<script id="tmpl-welcome" type="text/x-handlebars-template">
	<span class="user">
		<strong>{{firstName}} {{lastName}}</strong>
		<img src="{{avatarPath}}" width="28" height="28" />
	</span>
</script>

<!-- Task List Assignee -->
<script id="tmpl-task_list_assignee" type="text/x-handlebars-template">
	<a href="/#!/team?viewProfile={{_id}}">
		<img src="{{avatarPath}}" width="24px" height="24px">
		<span>{{firstName}} {{lastName}}</span>
	</a>
</script>
