<script id="tmpl-bee-ui_confirm" type="text/x-handlebars-template">
	<div id="bee-ui_confirm">
		<div class="light-gradient popup animated flipInY">
			<p>{{message}}</p>
			<ul class="popup-options">
				<li>
					<button id="bee-ui_confirm_cancel" class="light-gradient">Cancel</button>
				</li>
				<li>
					<button id="bee-ui_confirm_ok" class="gold-gradient">Confirm</button>
				</li>
			</ul>
		</div>
	</div>
</script>

<script id="tmpl-projects_list" type="text/x-handlebars-template">
	{{#if this.length}}
		<ul>
			{{#each this}}
				<li>
					<a href="/#!/projects?viewProject={{_id}}">
						<strong>{{title}}</strong>
						<span class="project_due">{{deadlineText}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="no_projects">You have {{this.length}} projects.</p>
	{{/if}}
</script>