div#header
	div.container
		h1.logo
			a(href='/') Beelancer
			span#notifications_badge 0
		//- Menu
		include ./menu.jade
		div#user
			div#welcome
div#notifications
	ul
div#user_menu
	ul
		li
			a.profile(href='') My Profile
		li
			a.settings(href='/#!/account') Account Settings
		li
			a.report(href='https://github.com/gordonwritescode/beelancer-issues/issues', target='_blank') Report Issue
		li.last
			span#logout Logout
