!!! 5
html
	head(lang='en-US')
		title Beelancer | Social Project Management
		//- Stylesheets
		link(rel='stylesheet', type='text/css', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/css', href='/styles/main.css')
		link(rel='stylesheet', type='text/css', href='/styles/animate.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/beelancer/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/jquery-ui-timepicker-addon.css')
		//- Templates
		include ./includes/templates.html
		//- Libraries
		script(type='application/javascript', src='/scripts/lib/jquery-1.8.3.js')
		script(type='application/javascript', src='/scripts/lib/jquery-ui-1.9.2.custom.js')
		script(type='application/javascript', src='/scripts/lib/handlebars-1.0.rc.1.js')
		script(type='application/javascript', src='/scripts/lib/blueprint.1.5.3.js')
		//- Application Init
		script(type='application/javascript', src='/scripts/bee-invoice.js')
		script(type='application/javascript', src='/scripts/bee-api.js')
		script(type='application/javascript', src='/scripts/bee-ui.js')
	body
		div#app
			//- Header
			include ./includes/header.jade
			//- Menu
			include ./includes/menu.jade
			//- Render Main
			div#main
				block content
			//- Footer
			include ./includes/footer.jade
		div#bee_loader
