/*
 * beelancer - jobs.css
 * Author: Gordon Hall
 */

.job_filter {
	float: left;
}

#job_view {
	display: none;
}

#jobs_create .job-save {
	background: url('/assets/images/mono/black/save_icon&16.png') 6px center no-repeat;
}

#jobs_create .job-publish {
	background: url('/assets/images/mono/black/round_checkmark_icon&16.png') 6px center no-repeat;
}

#jobs_create .job-unpublish {
	background: url('/assets/images/mono/black/undo_icon&16.png') 6px center no-repeat;
}

.my-jobs {
	background: url('/assets/images/mono/black/book_side_icon&16.png') 6px center no-repeat;
}

.jobs-search {
	background: url('/assets/images/mono/black/zoom_icon&16.png') 6px center no-repeat;
}

.col-header.bids h3 {
	background: url('/assets/images/mono/black/target_icon&16.png') right center no-repeat;
}

.job-tasks .col-header.tasks h3 {
	background: url('/assets/images/mono/black/clock_icon&16.png') right center no-repeat;
}

.job-reqs .col-header.requirementshead h3 {
	background: url('/assets/images/mono/black/list_num_icon&16.png') right center no-repeat;
}

.job-tasks,
.job-reqs {
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	margin: 12px 0;
}

.job-tasks ul,
.job-reqs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.job-tasks li,
.job-reqs li {
	border-top: 1px solid #e2e2e2;
	margin: 0;
	padding: 12px;
}

.job_buttons {
	display: none;
}

.create_job_container {
	width: 600px;
	margin: auto;
}

.create_job_container h4 {
	margin: 12px 0;
	border-left: 1px solid #e2e2e2;
}

#jobs_search_list {
	display: none;
	border: 1px solid #e2e2e2;
	border-top: none;
}

.job_filter strong {
	float: left;
	margin: 4px 12px 0 0;
}

#category {
	padding: 4px 12px;
	font-size: 14px;
	background: #FFF;
	border-radius: 2px;
	border: 1px solid #ABABAB;
}

.job_new_nav {
	background: url('/assets/images/mono/black/push_pin_icon&16.png') 6px center no-repeat;
}

#job_view .job-edit {
	background: url('/assets/images/mono/black/doc_edit_icon&16.png') 6px center no-repeat;
}

#job_view .job-delete {
	background: url('/assets/images/mono/black/delete_icon&16.png') 6px center no-repeat;
}

#jobs_list #jobs_category {
	margin: -10px 176px -10px 282px !important;
	padding: 10px;
	text-align: center;
}

#search_jobs {
	padding: 0 0 12px 0;
	border-bottom: 1px solid #e2e2e2;
}

li.job .job_title {
	font-size: 14px;
	padding: 4px 0;
	display: block;
}

li.job span {
	font-size: 12px;
	display: block;
	padding: 4px 24px;
}

li.job .job_category {
	background: url('/assets/images/mono/black/tag_icon&16.png') left center no-repeat;
}

li.job .job_listing_end {
	background: url('/assets/images/mono/black/calendar_2_icon&16.png') left center no-repeat;
}

#job_search {
	padding: 10px 14px;
	border: 1px solid #999;
	border-radius: 3px;
	font-size: 16px;
	margin-bottom: 10px;
	width: 633px;
	letter-spacing: 0.1em;
}

#latest_jobs {
	border-right: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}

.latestjobs h3 {
	background: url('/assets/images/mono/black/page_layout_icon&16.png') right center no-repeat;
}

.jobsearch h3 {
	background: url('/assets/images/mono/black/zoom_icon&16.png') right center no-repeat
}

#latest_jobs_list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#latest_jobs_list ul li {

}

#latest_jobs_list ul li a {

}

#latest_jobs_list ul {

}

#latest_jobs_list ul {

}

#job_search_result {
	
}

#job_search_result p {
	margin-left: 15px;
}

#jobs_promoted ul, #jobs_new ul, #jobs_mine ul, #jobs_create ul, #jobs_watched ul, #job_search_result ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.job a {
	padding: 12px 24px;
	margin: 0;
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 14px;
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
}

li.job a:hover {
	background-color: rgba(255, 207, 47, 0.2);
}

li.job a span.view_job {
	float: right;
}

#job_bids {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.bid div.bid_container {
	padding: 12px;
	overflow: auto;
	color: #333;
	border-top: 1px solid #e2e2e2;
}

li.bid .profile {
	
}

li.bid .profile a {
	display: block;
	overflow: hidden;
	color: #333;
}

li.bid .profile a:hover .member-name {
	text-decoration: underline;
}

li.bid .profile a img {
	float: left;
	margin-right: 12px;
}

li.bid .profile .member-name {
	float: left;
	margin: 2px;	
}

.bid .profile .rating {
	float: right;
	background: url('/assets/images/mono/black/star_fav_icon&16.png') left center no-repeat;
	padding: 2px 2px 2px 22px;
}

.bid p.message {
	font-size: 12px;
	margin: 8px 0;
	padding: 8px;
	border: 1px dashed #f1f1f1;
}

li.bid span.accept {
	font-size: 12px;
	padding: 6px 12px;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #FFC60B;
	text-shadow: 0 1px 0 #FFC60B;
	float: right;
}

li.bid span.accept:hover {
	background: #FFC60B;
	cursor: pointer;
}

ul.requirements_list {
	overflow: hidden;
}

li.req {
	display: block;
	margin: 6px 0;
}

.job-reqs ul {
	overflow: auto;
}

li.req input {
	float: left;
	width: 432px;
	padding: 6px 10px;
	border-radius: 2px;
	border: 1px solid #e2e2e2;
	font-size: 14px;
	margin: 6px 0;
}

li.req a {
	background: url('/assets/images/mono/black/delete_icon&16.png') center center no-repeat;
	float: right;
	height: 22px;
	margin: 10px 20px;
	width: 16px;
	opacity: 0.9;
}

li.req a:hover {
	opacity: 1;
}

.add_req {
	clear: both;
	float: right;
	padding-right: 12px;
}

.req_label, .task_label {
	margin-bottom: 12px;
	width: 100% !important;
}

#jobs_create .listing {
	width: 100% !important;
	margin-left: 24px;
}

#job_view #message {
	display: block;
	margin: 12px;
	font-size: 14px;
	padding: 6px 10px;
	height: 144px;
	width: 512px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
}

#jobs_create .hint {
	margin: 6px 24px;
}

.create_job_container p {
	margin: 15px;
}

.job_buttons {
	margin: 10px 30px;
	overflow: auto;
}

.save_job_submit_wrapper, .publish_job_submit_wrapper, .bid_job_submit_wrapper, .unpublish_job_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 242px;
}

.save_job_submit_wrapper {
	float: left;
	width: 202px;
}

.publish_job_submit_wrapper {
	float: right;
}

.unpublish_job_submit_wrapper {
	width: 290px;
}

#save_job, #publish_job, #bid_job, #unpublish_job {
	background: url('/assets/images/mono/black/save_icon&32.png') 12px center no-repeat;
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
}

#job-owned-by a,
#job-assigned-to a {
	text-decoration: none;
	color: #333;
}

#job-owned-by img,
#job-assigned-to img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 8px;
}

#job-owned-by a,
#job-assigned-to a {
	color: #333;
}

#job-owned-by a:hover,
#job-assigned-to a:hover {
	text-decoration: underline;
}

#job_view .job-publish {
	background: url('/assets/images/mono/black/notepad_icon&16.png') 6px center no-repeat;
}

#job_view .job-invoice {
	background: url('/assets/images/mono/black/wallet_icon&16.png') 6px center no-repeat;
}

#job_view .job-retract {
	background: url('/assets/images/mono/black/undo_icon&16.png') 6px center no-repeat;
}

#job_view .job-bid {
	background: url('/assets/images/mono/black/target_icon&16.png') 6px center no-repeat;
}

#save_job {
	border: 2px solid #BBB;
	text-shadow: 0 1px 0 #CCC;
}

#job_view .job-unpublish {
	background: url('/assets/images/mono/black/undo_icon&16.png') 6px center no-repeat;
}

#job_view .job-watch {
	background: url('/assets/images/mono/black/eye_icon&16.png') 6px center no-repeat;
}

#job_view .job-unwatch {
	background: url('/assets/images/mono/black/invisible_revert_icon&16.png') 6px center no-repeat;
}

.job-published {
	padding: 4px 16px;
	border-radius: 3px;
	font-size: 14px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	font-weight: bold;
	position: relative;
	left: 38px;
	text-transform: uppercase;
}

.job-published.in_progress {
	background: #13a4dd; /* Old browsers */
	background: -moz-linear-gradient(top,  #13a4dd 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13a4dd), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #13a4dd 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #13a4dd 0%,#23538a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #13a4dd 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #13a4dd 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a4dd', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #13a4dd;
}

.job-published.unpublished {
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	color: #444;
	border: 1px solid #fcfff4;
}

.job-published.published {
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: 1px solid #c9de96;
}

.job-watch-btn, .job-unwatch-btn, .req-bid-accept {
	background-color: #f1f1f1;
	background-position: 6px center;
	background-repeat: no-repeat;
	padding: 4px 8px 4px 30px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.req-bid-accept {
	color: #333;
	float: right;
	font-size: 12px;
	padding: 4px 8px;
	text-decoration: none;
}

.req-bid-accept.accepted {
	background-image: url('/assets/images/mono/black/checkmark_icon&16.png');
	padding: 4px 8px 4px 30px;
}

.job-watch-btn:hover, .job-unwatch-btn:hover, .req-bid-accept:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}

.job-unwatch-btn {
	background-image: url('/assets/images/mono/black/invisible_light_icon&16.png');
	display: none;
}

.job-watch-btn {
	background-image: url('/assets/images/mono/black/eye_icon&16.png');
	display: none;
}

#job_details .group, .job-bid-view strong {
	margin: 10px 20px;
}

.job-owner {
	float: left;
	margin-bottom: 20px;
}

.job-owner-showcase {
	margin-top: 10px;
}

.job-owner-showcase a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.job-owner-showcase img {
	margin-right: 10px;
}

.job-own-contain,
.job-assignee {
	margin: 12px 24px;
	border-radius: 4px;
}

.job-own-contain > strong,
.job-assignee > strong {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
}

.job-owner img {
	float: left;
}

.job-cat {
	display: block;
	margin: 24px;
	font-size: 16px;
}

.job-desc {
	clear: both;
	padding: 0;
	margin: 12px 24px;
	border-top: 1px solid #c1c1c1;
	font-size: 14px;
}

.job-desc p {
	margin: 0px 0px 20px;
}

.job-reqs span.req-desc {
	display: block;
	font-size: 12px;
	font-style: italic;
}

.job-dates .job-start-date {
	float: left;
}

.job-dates .job-end-date {
	float: right;
}

.job-dates span {
	display: block;
}

.job-posting-stats {
	text-align: center;
	font-size: 14px;
	padding: 6px 0;
}

#credit-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 997;
}

#credit-popup strong.heading {
	display: block;
	margin: 10px 10px 0px;
}

#credit-popup .popup {
	width: 500px;
	min-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -141px 0 0 -202px;
	border: 2px solid white;
	border-radius: 6px;
	box-shadow: 0 0 24px black;
}

#credit-popup label {
	display: inline-block;
	float: none;
	width: auto;
}

#credit-popup label.left {
	clear: both;
	float: left;
}

#credit-popup input.small {
	width: 75px;
}

#credit-popup .left input.small {
	display: inline-block;
}

#credit-popup label span {
	display: block;
}

#credit-popup .cc-group {
	clear: both;
}

#credit-popup .cc-buttons {
	margin-top: 90px;
}
#credit-popup .popup-options {
	clear: both;
}
#credit-popup .cc-error {
	color: red;
	font-size: 12px;
	font-weight: bold;
	margin: 0 20px;
	display: block;
}

.no-job {
	display: block;
	text-align: center;
}

#job_unassigned_task_list, #job_task_list {
	border: 1px solid #d2d2d2;
	background: #fff;
	box-shadow: inset 0 2px 5px #ccc;
	padding: 12px;
	margin-top: 6px;
	max-height: 192px;
	overflow: auto;
}

li.job_task_option {
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 14px;
	overflow: hidden;
}

li.job_task_option .view_task {
	display: none;
	float: right;
	width: 16px;
	height: 16px;
	background: url('/assets/images/mono/black/expand_icon&16.png') center center no-repeat;
	text-indent: -9999px;
	opacity: 0.9;
}

li.job_task_option:hover .view_task {
	display: block;
}

li.job_task_option:hover .view_task:hover {
	opacity: 1;
}

li.job_task_option:nth-child(even) {
	background: #f6f6f6;
}

li.job_task_option:hover {
	background-color: rgba(0,0,0,0.05);
	cursor: pointer;
}

li.job_task_option label {
	padding: 12px;
	display: block;
	font-size: 14px;
	overflow: hidden;
}

li.job_task_option span {
	float: left;
	margin: 0;
}

li.job_task_option span a {
	color: #333;
	text-decoration: none;
}

li.job_task_option input {
	float: left;
	margin-right: 12px;
}

#job_add_req {
	display: none;
}

.not-enough-tasks {
	display: none;
}

.job_info {
	list-style-type: none;
	margin: 12px 0;
	padding: 0;
}

.job_info li {
	font-size: 14px;
	padding: 4px 0;
	margin: 4px 0;
	overflow: hidden;
}

.job_info li strong {
	margin-right: 12px;
	text-align: right;
	width: 110px;
	float: left;
}

.job-reqs li {
	display: block;
	line-height: 18px;
}

.job-reqs li span {
	padding: 4px 4px 4px 24px;
	background: url('/assets/images/icons/check.png') left center no-repeat;
	display: block;
	font-size: 12px;
}

.job-tasks li span,
.bid_items li span {
	display: block;
	padding: 2px 4px 2px 24px;
	font-size: 12px;
	font-weight: bold;
	background: url('/assets/images/icons/tasks.png') left center no-repeat;
}

.job-tasks li span.task-rate,
.bid_items li span.task-rate {
	font-weight: normal;
	background: url('/assets/images/icons/bank.png') left center no-repeat;
}

.bid_items li {
	border-top: 1px solid #f1f1f1;
	padding: 6px;
}

.bid_items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #F1F1F1;
	border-top: none;
	background: #F9F9F9;
}
