/*
 * beelancer - jobs.css
 * Author: Gordon Hall
 */

#jobs_nav .job_search_nav, .search_job_btn {
	background: url('/assets/images/mono/black/zoom_icon&24.png') 12px center no-repeat;
}

#jobs_nav .job_new_nav {
	background: url('/assets/images/mono/black/push_pin_icon&24.png') 12px center no-repeat;
}

#jobs_nav .job_myjobs_nav {
	background: url('/assets/images/mono/black/case_icon&24.png') 12px center no-repeat;
}

#jobs_nav .job_edit_nav {
	background: url('/assets/images/mono/black/doc_edit_icon&24.png') 12px center no-repeat;
}

#jobs_nav .job_del_nav {
	background: url('/assets/images/mono/black/delete_icon&24.png') 12px center no-repeat;
}

#jobs_nav .job_bid_nav {
	background: url('/assets/images/mono/black/target_icon&32.png') 12px center no-repeat;
}

#search_jobs {
	float: left;
	width: 400px;
}

#job_search {
	padding: 6px 12px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	font-size: 14px;
	margin: 10px;
	width: 364px;
}

#job_search_result {
	display: none;
}

#jobs_promoted ul, #jobs_new ul, #jobs_mine ul, #jobs_create ul, #jobs_watched ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.job a {
	padding: 12px 24px;
	margin: 3px 0;
	display: block;
	text-decoration: none;
	border-radius: 6px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	border: 1px solid transparent;
	overflow: hidden;
}

li.job a:hover {
	background-color: #e2e2e2;
	border: 1px solid #d2d2d2;
	border-color: #d2d2d2;
}

li.job a span.view_job {
	float: right;
}

.job-bids ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.bid a {
	display: block;
	text-decoration: none;
	border: 1px solid #e2e2e2;
	background: #e2e2e2;
	margin: 3px 0;
	padding: 12px 24px;
	border-radius: 6px;
	overflow: auto;
	color: #333;
}

li.bid a:hover {
	cursor: pointer;
	background: #FFEFC6;
	border: 1px solid #d2d2d2;
}

li.bid .profile {
	float: left;
}

li.bid a span.accept {
	float: right;
}

li.req {
	display: block;
}

li.req input {
	float: left;
	width: 80%;
}

li.req a {
	background: url('/assets/images/mono/black/delete_icon&16.png') 0 0 no-repeat;
	float: right;
	height: 16px;
	margin: 10px 20px;
	width: 16px;
}

.add_req {
	clear: both;
	float: right;
	padding-right: 12px;
}

.req_label {
	width: 100% !important;
}

#jobs_create #description, #job_view #message {
	display: block;
	margin: 12px;
	font-size: 14px;
	padding: 6px 10px;
	height: 144px;
	width: 512px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
}

.job_buttons {
	margin: 10px 30px;
	overflow: auto;
}

.save_job_submit_wrapper, .publish_job_submit_wrapper, .bid_job_submit_wrapper, .unpublish_job_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 242px;
}

.save_job_submit_wrapper {
	float: left;
	width: 202px;
}

.publish_job_submit_wrapper {
	float: right;
}

.unpublish_job_submit_wrapper {
	width: 290px;
}

#save_job, #publish_job, #bid_job, #unpublish_job {
	background: url('/assets/images/mono/black/save_icon&32.png') 12px center no-repeat;
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
}

#publish_job {
	background: url('/assets/images/mono/black/notepad_icon&32.png') 12px center no-repeat;
}

#bid_job {
	background: url('/assets/images/mono/black/target_icon&32.png') 12px center no-repeat;
}

#bid_job:hover {
	background: url('/assets/images/mono/black/target_icon&32.png') 12px center no-repeat #FFC60B;
	cursor: pointer;
}

#save_job {
	border: 2px solid #BBB;
	text-shadow: 0 1px 0 #CCC;
}

#publish_job:hover {
	background: url('/assets/images/mono/black/notepad_icon&32.png') 12px center no-repeat #FFC60B;
	cursor: pointer;
}

#unpublish_job {
	background: url('/assets/images/mono/black/undo_icon&32.png') 12px center no-repeat;
}

#unpublish_job:hover {
	background: url('/assets/images/mono/black/undo_icon&32.png') 12px center no-repeat #FFC60B;
	cursor: pointer;
}

#save_job:hover {
	background: url('/assets/images/mono/black/save_icon&32.png') 12px center no-repeat #DDD;
	cursor: pointer;
}

.job-published, .job-watch {
	float: right;
	margin: -50px 24px 0 0;
}

.job-watch-btn, .job-unwatch-btn, .req-bid-accept {
	background-color: #f1f1f1;
	background-position: 6px center;
	background-repeat: no-repeat;
	padding: 4px 8px 4px 30px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.req-bid-accept {
	color: #333;
	float: right;
	font-size: 12px;
	padding: 4px 8px;
	text-decoration: none;
}

.req-bid-accept.accepted {
	background-image: url('/assets/images/mono/black/checkmark_icon&16.png');
	padding: 4px 8px 4px 30px;
}

.job-watch-btn:hover, .job-unwatch-btn:hover, .req-bid-accept:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}

.job-unwatch-btn {
	background-image: url('/assets/images/mono/black/invisible_light_icon&16.png');
	display: none;
}

.job-watch-btn {
	background-image: url('/assets/images/mono/black/eye_icon&16.png');
	display: none;
}

#job_details .group, .job-bid-view strong {
	margin: 10px 20px;
}

.job-owner {
	float: left;
	margin-bottom: 20px;
}

.job-owner-showcase {
	margin-top: 10px;
}

.job-owner-showcase a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.job-owner-showcase img {
	margin-right: 10px;
}

.job-owner img {
	float: left;
}

.job-cat {
	float: right;
}

.job-cat span {
	display: block;
}

.job-desc {
	clear: both;
}

.job-desc p {
	margin: 0px 0px 20px;
}

.job-reqs span.req-desc {
	display: block;
	font-size: 12px;
	font-style: italic;
}

.job-tasks ul, .job-bids ul {
	margin: 5px 0px 20px;
}

.job-reqs ul {
	margin: 5px 0px;
}

.job-reqs ul li {
	display: block;
	height: 32px;
}

#credit-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 997;
}

#credit-popup .popup {
	width: 500px;
	min-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -81px 0 0 -202px;
	border: 2px solid white;
	border-radius: 6px;
	box-shadow: 0 0 24px black;
}

#credit-popup label {
	display: inline-block;
}

#credit-popup label span {
	display: block;
}