<div id="contact" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">What is Beelancer?</h4>
	<div class="about">
		<p>In its simplest form, Beelancer lives to help busy people get paid for getting things done. What makes Beelancer so much more is its capacity to do so by facilitating collaboration without the “noise” of social networking.</p>
		<p>Freelancers have a necessity to wear multiple hats. In a single day you are a headhunter, project manager, designer or engineer or artist, and finally an accountant. Beelancer is the only tool that allows you to switch between these hats effortlessly, while connecting you with a network of other professionals.</p>
	</div>
	<h4 class="gold-gradient">Contact Us</h4>
	<div id="contact_us">
		<p>Contact us, give us your feedback, report bugs, or just comment on our service.  We strive on making Beelancer something you use daily, and in so, we want to make it as easy and intuitive to use as possible.</p>
		<textarea id="con_us" name="con_us" placeholder="Type your comment here..."></textarea>
		<div class="contact_submit_wrapper gold-gradient">
			<input type="submit" id="send_contact" value="Contact Us!" />
		</div>
	</div>
	<div id="contact_success">
		<p>Comment / Feedback / whatever you sent...has been sent!  Thanks!</p>
	</div>
	<div class="share">
		<ul>
			<li><a href="#" class="facebook"></a></li>
			<li><a href="https://twitter.com/Beelancer" class="twitter" target="_blank"></a></li>
		</ul>
	</div>
</div>