<div id="contact" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">About beelancer</h4>
	<div class="about">
		<p>About us blurb</p>
	</div>
	<div class="share">
		<ul>
			<li><a href="#" class="facebook"></a></li>
			<li><a href="https://twitter.com/Beelancer" class="twitter" target="_blank"></a></li>
		</ul>
	</div>
	<h4 class="gold-gradient">Contact Us</h4>
	<div id="contact_us">
		<p>Contact us stuff, feedback, bug reporting, etc.</p>
		<textarea id="con_us" name="con_us" placeholder="Type your comment here..."></textarea>
		<div class="contact_submit_wrapper gold-gradient">
			<input type="submit" id="send_contact" value="Contact Us!" />
		</div>
	</div>
	<div id="contact_success">
		<p>Comment / Feedback / whatever you sent...has been sent!  Thanks...maybe?</p>
	</div>
</div>