<div id="invoices_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="filter_invoices">
		Show: 
		<select>
			<option value="inbox" selected="selected">Recieved</option>
			<option value="sent">Sent</option>
		</select>
	</div>
	<ul>
		<li>
			<a href="/#!/invoices?createInvoice=true" class="new_invoice">Create Invoice</a>
		</li>
		<li>
			<a class="pay_invoice">Pay</a>
		</li>
		<li>
			<a class="refund_invoice">Refund</a>
		</li>
	</ul>
</div>
<div id="invoices" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">Invoices</h4>
	<div id="invoice_lists"></div>
</div>
<div id="view_invoice" class="light-gradient center-pane animated fadeInUp"></div>