<!--
<div id="jobs_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<ul>
		<li>
			<a href="/#!/jobs?jobSearch=true" class="job_search_nav">Search Jobs</a>
		</li>
		<li>
			<a href="/#!/jobs?myJobs=true" class="job_myjobs_nav">My Jobs</a>
		</li>
		<li>
			<a href="/#!/jobs?newJob=true" class="job_new_nav">Post Job</a>
		</li>
		<li>
			<a href="#" class="job_del_nav">Delete Job</a>
		</li>
		<li>
			<a href="#" class="job_edit_nav">Edit Job</a>
		</li>
		<li>
			<a href="#" class="job_bid_nav">Bid on Job</a>
		</li>
	</ul>
</div>
-->
<h2 class="panel_title jobs">Jobs</h2>
<div id="jobs_list" class="center-pane">
	<div class="top_options">
		<div class="job_filter">
			<strong>Category: </strong>
			<select id="category" name="category">
				<option value="all">All</option>
			</select>
		</div>
		<strong class="gold-gradient option_button">
			<a href="/#!/jobs?newJob=true" class="job_new_nav">Post Job</a>
		</strong>
	</div>
	<div class="two3rds">
		<div id="search_jobs"> 
			<input type="text" placeholder="Search All Jobs..." id="job_search">
		</div>
		<div id="latest_jobs">
			<div class="col-header latestjobs light-gradient">
				<h3>Latest Jobs</h3>
			</div>
			<div id="latest_jobs_list">
				<div class="loader"></div>
			</div>
		</div>
		<div id="jobs_search_list">
			<div class="col-header jobsearch light-gradient">
				<h3>Search Results</h3>
			</div>
			<div id="job_search_result">
				<div class="loader"></div>
			</div>
		</div>
	</div>
	<div class="col3">
		<div id="promoted_jobs_list">
			<div class="loader"></div>
		</div>
	</div>
</div>
<div id="jobs_mine" class="center-pane">
	<h4 class="gold-gradient">My Jobs</h4>
	<div id="jobs_i_own">
		<h3 class="light-gradient">
			<span class="user">Jobs I Own</span>
		</h3>
		<div id="own_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<div id="jobs_assigned">
		<h3 class="light-gradient">
			<span class="user">Jobs Assigned to Me</span>
		</h3>
		<div id="assigned_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<div id="jobs_watched">
		<h3 class="light-gradient">
			<span class="user">Jobs I'm Watching</span>
		</h3>
		<div id="watched_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
</div>
<div id="jobs_create" class="center-pane"></div>
<div id="job_view" class="center-pane"></div>
