<div id="jobs_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<ul>
		<li>
			<a href="/#!/jobs?jobSearch=true" class="job_search_nav">Search Jobs</a>
		</li>
		<li>
			<a href="/#!/jobs?myJobs=true" class="job_myjobs_nav">My Jobs</a>
		</li>
		<li>
			<a href="/#!/jobs?newJob=true" class="job_new_nav">Post Job</a>
		</li>
		<li>
			<a href="#" class="job_del_nav">Delete Job</a>
		</li>
		<li>
			<a href="#" class="job_edit_nav">Edit Job</a>
		</li>
		<li>
			<a href="#" class="job_bid_nav">Bid on Job</a>
		</li>
	</ul>
</div>
<div id="jobs_search" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="search_jobs"> 
		<input type="text" placeholder="Search available jobs..." id="job_search" />
	</div>
	<ul>
		<li>
			<a class="search_job_btn">Search Jobs</a>
		</li>
	</ul>
</div>
<div id="job_search_result" class="light-gradient center-pane animated fadeInUp"></div>
<div id="jobs_list">
	<div id="jobs_category" class="light-gradient center-pane animated fadeInUp">
		<span>Category:</span>
		<select id="category" name="category">
			<option value="all">All</option>
		</select>
	</div>
	<div id="jobs_promoted" class="light-gradient center-pane animated fadeInUp">
		<h4 class="gold-gradient">Promoted Jobs</h4>
		<div id="promoted_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<div id="jobs_new" class="light-gradient center-pane animated fadeInUp">
		<h4 class="gold-gradient">Latest Jobs</h4>
		<div id="latest_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<!-- <div id="jobs_watched" class="light-gradient center-pane animated fadeInUp">
		<h4 class="gold-gradient">Jobs I'm Watching</h4>
		<div id="watched_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div> -->
</div>
<div id="jobs_mine" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">My Jobs</h4>
	<div id="jobs_i_own">
		<h3 class="light-gradient">
			<span class="user">Jobs I Own</span>
		</h3>
		<div id="own_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<div id="jobs_assigned">
		<h3 class="light-gradient">
			<span class="user">Jobs Assigned to Me</span>
		</h3>
		<div id="assigned_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
	<div id="jobs_watched">
		<h3 class="light-gradient">
			<span class="user">Jobs I'm Watching</span>
		</h3>
		<div id="watched_jobs_list">
			<div class="loader"></div>
		</div>
		<div class="pagination">
			<button class="pageLeft">&laquo;</button>
			<span class="pageLocation">
				Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
			</span>
			<button class="pageRight">&raquo;</button>
		</div>
	</div>
</div>
<div id="jobs_create" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient" id="create_job_heading">New Job</h4>
	<h4 class="gold-gradient" id="edit_job_heading">Edit Job</h4>
	<div class="create_job_container">
		<form id="create_job"></form>
		<div class="not-enough-tasks">
			<p class="no_projects">You don't have any unassigned tasks from which to create a Job. <a href="/#!/tasks?newTask=true">Create a task</a>.</p>
		</div>
	</div>
</div>
<div id="job_view" class="animated fadeInUp"></div>
