<!--
<div id="messages_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="filter_messages">
		Show: 
		<select>
			<option value="inbox" selected="selected">Inbox</option>
			<option value="sent">Sent</option>
		</select>
	</div>
	<ul>
		<li>
			<a href="/#!/messages?compose=true" class="new_message">New Message</a>
		</li>
		<li>
			<a class="mark_unread">Mark Unread</a>
		</li>
		<li>
			<a href="/#!/messages?compose=true&reply=" class="reply">Reply</a>
		</li>
		<li>
			<a class="delete_message">Delete</a>
		</li>
	</ul>
</div>
-->
<h2 class="panel_title messages">Messages</h2>
<div id="messages" class="center-pane">
	<div class="top_options">
		<strong class="gold-gradient option_button">
			<a href="/#!/messages" class="new-message">New Conversation</a>
		</strong>
	</div>
	<div class="col3">
		<div class="col-header conversations light-gradient">
			<h3>Conversations</h3>
		</div>
		<div id="my_messages">
			<div class="loader"></div>
		</div>
	</div>
	<div class="two3rds border">
		<div class="col-header message-to light-gradient">
			<h3>To: </h3>
			<input type="text" id="newmessage_to" class="team_populate" />
			<input type="hidden" name="to" value="" />
			<strong id="newmessage_send" class="gold-gradient option_button">
				<a class="send-message">Send</a>
			</strong>
		</div>
		<div id="messenger">
			<label for="newmessage_body">
				<textarea id="newmessage_body" name="body" placeholder="Type your message..."></textarea>
			</label>
			<div class="new_message_submit_wrapper gold-gradient">
				<input type="submit" id="send_message" value="Send Message" />
			</div>
		</div>
	</div>
</div>
<div id="online_user"></div>
<div id="message_view"></div>
