<div id="messages_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="filter_messages">
		Show: 
		<select>
			<option value="inbox" selected="selected">Inbox</option>
			<option value="sent">Sent</option>
		</select>
	</div>
	<ul>
		<li>
			<a href="/#!/messages?compose=true" class="new_message">New Message</a>
		</li>
		<li>
			<a class="mark_unread">Mark Unread</a>
		</li>
		<li>
			<a href="/#!/messages?compose=true&reply=" class="reply">Reply</a>
		</li>
		<li>
			<a class="delete_message">Delete</a>
		</li>
	</ul>
</div>
<div id="messages_inbox" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">Inbox</h4>
	<div id="messages_inbox_list"></div>
	<div class="pagination">
		<button class="pageLeft">&laquo;</button>
		<span class="pageLocation">
			Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
		</span>
		<button class="pageRight">&raquo;</button>
	</div>
</div>
<div id="messages_sent" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">Sent Messages</h4>
	<div id="messages_sent_list"></div>
	<div class="pagination">
		<button class="pageLeft">&laquo;</button>
		<span class="pageLocation">
			Page <span class="pageCurrent">1</span> of <span class="pageTotal">1</span>
		</span>
		<button class="pageRight">&raquo;</button>
	</div>
</div>
<div id="message_view"></div>
<div id="message_compose" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">New Message</h4>
	<form id="new_message">
		<div id="message_to_wrapper">
			<label for="newmessage_to">
				<input type="text" id="newmessage_to" class="team_populate" placeholder="Start typing a team member's name..."/>
				<input type="hidden" name="to" value="" />
			</label>
		</div>
		<label for="newmessage_body">
			<textarea id="newmessage_body" name="body" placeholder="Type your message..."></textarea>
		</label>
		<div class="new_message_submit_wrapper gold-gradient">
			<input type="submit" id="send_message" value="Send Message" />
		</div>
	</form>
</div>