<h2 class="panel_title projects">Projects</h2>
<!--
<div id="projects_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="filter_projects">
		Show: 
		<select>
			<option value="active" selected="selected">Active Projects</option>
			<option value="closed">Closed Projects</option>
		</select>
	</div>
	<ul>
		<li>
			<a href="/#!/projects?newProject=true" class="new_project">New Project</a>
		</li>
		<li>
			<a href="/#!/projects?newProject=true&projectId=" class="edit_project">Edit</a>
		</li>
		<li>
			<a class="project_status close_project">Close</a>
		</li>
		<li>
			<a class="delete_project">Delete</a>
		</li>
		<li>
			<a href="/#!/invoices?createInvoice=true&projectId=" class="bill_client">Invoice</a>
		</li>
		<li>
			<a class="leave_project">Leave Team</a>
		</li>
	</ul>
</div>
-->
<div id="projects_list" class="center-pane">
	<div class="top_options">
		<div class="project_filter">
			<strong>Viewing: </strong>
			<select id="project_filter">
				<option value="active" selected="selected">Active Projects</option>
				<option value="closed">Closed Projects</option>
			</select>
		</div>
		<strong class="gold-gradient option_button">
			<a href="/#!/projects?newProject=true" class="new_project">Create Project</a>
		</strong>
	</div>
	<div class="col2">
		<div class="col-header owned light-gradient">
			<h3>Owned By You</h3>
		</div>
		<div id="projects_owned_list">
			<div class="loader"></div>
		</div>
	</div>
	<div class="col2">
		<div class="col-header participating light-gradient">
			<h3>Participating In</h3>
		</div>
		<div id="projects_participating_list">
			<div class="loader"></div>
		</div>
	</div>
</div>
<div id="projects_create" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">New Project</h4>
	<form id="create_project">
		<div class="group">
			<label for="newproject_title">
				<span>Title: </span>
				<input class="required" type="text" id="newproject_title" placeholder="" name="title" />
			</label>
			<label for="newproject_deadline">
				<span>Deadline: </span>
				<input class="required" type="text" id="newproject_deadline" placeholder="" name="deadline" />
			</label>
		</div>
		<p class="hint">
			Give your team members an overview of the project. Or if you plan on posting this project to the job board, be sure 
			that you give high-level information about the project goals, so candidates have a fundamental understanding of what 
			the project is "all about".
		</p>
		<label class="full_block" for="newproject_desc">
			<span>Description: <small class="small_right">(<a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown</a> Supported)</small></span>
			<textarea id="newproject_desc" class="required markdown_input" name="description" maxlength="3000"></textarea>
		</label>
		<label class="big_radio" for="newproject_client-false">
			<input id="newproject_client-false" type="radio" name="hasClient" value="false" /> I will be funding this project
			<p>
				You will act as both the project owner and the client. This means that you will be responsible 
				for hiring others, assigning work, and paying your team for their completed tasks.
			</p>
		</label>
		<label class="big_radio" for="newproject_client-true">
			<input id="newproject_client-true" type="radio" name="hasClient" value="true" /> My client will be funding this project
			<p>
				You will be responsible for assembling your team and assigning tasks. When you bill your client, 
				they will recieve a payment link and you and your team will be paid automatically.
			</p>
		</label>
		<div class="group" id="newproject_client-info">
			<label for="newproject_client">
				<span>Client's Email: </span>
				<input type="text" id="newproject_client" placeholder="" name="client" />
			</label>
			<label for="newproject_budget">
				<span>Client's Budget: </span>
				<input type="text" id="newproject_budget" placeholder="" name="budget" />
			</label>
		</div>
		<div class="new_project_submit_wrapper gold-gradient">
			<input type="submit" id="save_project" value="Save Project" />
		</div>
	</form>
</div>
<div id="project_view" class="animated fadeInUp"></div>
