<div id="tasks_nav" class="navigation light-gradient center-pane animated fadeInUp">
	<div id="filter_tasks">
		Show: 
		<select>
			<option value="active" selected="selected">Open Tasks</option>
			<option value="closed">Completed Tasks</option>
		</select>
	</div>
	<ul>
		<li>
			<a href="/#!/tasks?newTask=true" class="new_task">New Task</a>
		</li>
		<li>
			<a href="/#!/tasks?newTask=true&taskId=" class="edit_task">Edit</a>
		</li>
		<li>
			<a class="task_status"></a>
		</li>
		<li>
			<a class="delete_task">Delete</a>
		</li>
	</ul>
</div>
<div id="tasks_active" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">Open Tasks</h4>
	<div id="tasks_active_list">
		<div class="loader"></div>
	</div>
</div>
<div id="tasks_closed" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">Completed Tasks</h4>
	<div id="tasks_closed_list">
		<div class="loader"></div>
	</div>
</div>
<div id="tasks_create" class="light-gradient center-pane animated fadeInUp">
	<h4 class="gold-gradient">New Task</h4>
	<form id="create_task">
		<div class="group">
			<label for="newtask_title">
				<span>Title: </span>
				<input class="required" type="text" id="newtask_title" placeholder="" name="title" />
			</label>
			<label for="newtask_rate">
				<span>Rate: </span>
				<input class="required" type="text" id="newtask_rate" placeholder="" name="rate" />
			</label>
		</div>
		<div class="group no_edit">
			<label for="newtask_project">
				<span>Project: </span>
				<select class="required" id="newtask_project" name="projectId">
					<option value="null">Loading projects...</option>
				</select>
			</label>
			<label for="newtask_assignee">
				<span>Assignee: </span>
				<select class="required" id="newtask_assignee" name="assignee">
					<option value="null">Loading team...</option>
				</select>
			</label>
		</div>
		<label class="big_radio selected" for="newtask_isFixed-true">
			<input id="newtask_isFixed-true" type="radio" name="isFixed" value="true" checked="checked" /> This task has a fixed price
			<p>
				The rate you specify above is the amount paid for the completion of this task. You can still track 
				your time, but the billed amount will remain the same.
			</p>
		</label>
		<label class="big_radio" for="newtask_isFixed-false">
			<input id="newtask_isFixed-false" type="radio" name="isFixed" value="false" /> This task is paid hourly
			<p>
				The rate you specify above represents an hourly rate. The billed amount will be equal to this rate 
				times the number of hours logged for this task upon billing.
			</p>
		</label>
		<div class="new_task_submit_wrapper gold-gradient">
			<input type="submit" id="save_task" value="Save Task" />
		</div>
	</form>
</div>
<div id="task_view" class="animated fadeInUp">
	
</div>