/*
 * beelancer - messages.css
 * Author: Gordon Hall
 */

#messages_nav .reply {
	background: url('/assets/images/mono/black/redo_icon&24.png') 12px center no-repeat;
}

#messages_nav .mark_unread {
	background: url('/assets/images/mono/black/star_icon&24.png') 12px center no-repeat;
}

#messages_nav .new_message {
	background: url('/assets/images/mono/black/spechbubble_sq_line_icon&24.png') 12px center no-repeat;
}

#messages_nav .delete_message {
	background: url('/assets/images/mono/black/delete_icon&24.png') 12px center no-repeat;
}

#filter_messages {
	float: left;
	margin: 12px;
}

#filter_messages select {
	font-size: 16px;
	margin-left: 12px;
}

#messages_sent, #messages_inbox {
	display: none;
}

#messages_sent ul, #messages_inbox ul {
	margin: 3px;
	padding: 0;
	list-style-type: none;
}

li.message {
	border: 1px solid #e2e2e2;
	background: #FFEFC6;
	margin: 3px 0;
	border-radius: 6px;
}

li.message.isRead {
	background: #fff;
}

li.message:hover {
	cursor: pointer;
	background: #e2e2e2;
	border: 1px solid #d2d2d2;
}

li.message.isRead .msg_from {
	background: none;
}

li.message p {
	font-size: 14px;
	margin: 0 12px 12px 12px;
	height: 20px;
	overflow: hidden;
}

.msg_from {
	overflow: hidden;
	background: url('/assets/images/mono/black/invisible_light_icon&16.png') 522px center no-repeat;
}

.msg_from img {
	margin: 12px;
	float: left;
}

.messageview_body .msg_from img {
	margin: 0px 12px 12px 12px;
	float: left;
}

.msg_from span {
	font-weight: bold;
	margin-top: 12px;
	display: block;
}

#messages_inbox_list .msg_sentOn {
	color: #000;
	font-size: 12px;
	float: right;
	margin: 4px 48px 0 0 !important;
}

.msg_sentOn {
	color: #CCC;
	font-size: 11px;
	font-weight: normal;
	float: right;
	margin: 0 0 0 0 !important;
}

.current_body .msg_sentOn {
	float: left;
	font-weight: normal;
	margin-top: 0px;
}

.msg_from .this_user img {
    float: right;
    margin: 0 12px 0 0;
}

.this_user .team_list_name {
	font-weight: bold;
	margin: 12px 0px;
	display: block;
    float: right;
    width: 75px;
}

.messageview_body ul {
	margin: 0;
	padding: 0;
}

.messageview_body li.message {
	border: 1px solid #e2e2e2;
	background: #FFEFC6;
	margin: 3px 0;
	border-radius: 6px;
}

.messageview_body li.message.isRead {
	background: #fff;
}

.messageview_body li.message:hover {
	border: 1px solid #d2d2d2;
}

.messageview_body li.message.isRead .msg_from {
	background: none;
}

.messageview_body li.message p {
	font-size: 14px;
	height: auto;
	margin: 0 12px 12px 12px;
	overflow: auto;
}

.messageview_body li.message p.current_body {
	text-align: right;
}

.message_compose {
	margin: 10px 25px;
}

.message_compose input {
	font-size: 14px;
	padding: 6px 10px;
	width: 400px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
}

#newmessage_to, #newmessage_body {
	display: block;
	margin: 12px;
	font-size: 14px;
	padding: 6px 10px;
	width: 306px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
}

#newmessage_body {
	height: 144px;
	width: 512px;
}

.new_message_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 302px;
}

#send_message {
	background: url('/assets/images/mono/black/paper_airplane_icon&32.png') 12px center no-repeat;
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
}

#send_message:hover {
	background: url('/assets/images/mono/black/paper_airplane_icon&32.png') 12px center no-repeat #FFC60B;
	cursor: pointer;
}

.messageview_from {
	overflow: hidden;
	padding: 24px;
	background: url('/assets/images/bubble-tick.png') 36px bottom no-repeat;
}

.messageview_from img {
	margin-right: 24px;
	width: 48px;
	height: 48px;
	border-radius: 4px;
	border: 1px solid #999;
}

.messageview_from a {
	color: #001E28;
	text-decoration: none;
}

.messageview_from a:hover {
	text-decoration: underline !important;
}

.messageview_from a:hover img {
	border: 1px solid #333;
}

.messageview_from strong {
	display: block;
	margin-top: 2px;
}

.messageview_from span {
	display: block;
	margin-top: 4px;
	font-size: 14px;
}

.messageview_body {
	margin: 0 24px 24px 24px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 6px;
	text-shadow: 0 1px 0 white;
}

/*
 * Actions
 */
.msg_attachment {
	text-align: right;
	padding: 12px 24px;
	border-top: 1px solid #e2e2e2;
}

.msg_attachment button {
	font-size: 12px;
	padding: 6px 12px;
	font-weight: bold;
	border-radius: 3px;
}

#msg_action_accept {
	border: 1px solid #FFC60B;
	text-shadow: 0 1px 0 #FFC60B;
}

#msg_action_accept:hover {
	background: #FFC60B;
	cursor: pointer;
}

#msg_action_decline {
	border: 1px solid #fff;
	text-shadow: 0 1px 0 #fff;
}

#msg_action_decline:hover {
	background: #fff;
	cursor: pointer;
}