!!! 5
html
	head(lang='en-US')
		title Beelancer | Social Project Management
		link(rel='stylesheet', type='text/css', href='/css/vendor/animate.min.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/jquery-ui-timepicker-addon.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		//- script(type='application/javascript', src='/socket.io/socket.io.js')
		//- script(type='application/javascript', src='/vendor/require.js')
		if locals.google_analytics
			include ./app-analytics.html
		script(type='application/javascript')
			| localStorage.setItem('bee-api-url', '#{locals.apiProtocol}://#{apiHost}:#{apiPort}');
	body
		//- base ember templates
		include ./views/header.html
		include ./views/footer.html
		include ./views/menu.html
		include ./views/notifications.html
		//- login and auth
		include ./views/forgot.html
		include ./views/login.html
		include ./views/recover.html
		include ./views/register.html
		include ./views/welcome.html
		include ./views/loader.html
		//- projects templates
		include ./views/projects.html
		include ./views/projects-list.html
		include ./views/projects-index.html
		include ./views/projects-view.html
		include ./views/projects-create.html
		//- tasks templates
		include ./views/tasks.html
		include ./views/tasks-list.html
		include ./views/tasks-index.html
		include ./views/tasks-view.html
		include ./views/tasks-create.html
		include ./views/tasks-worklog-modal.html
		include ./views/tasks-worklog-timer.html
		//- team templates
		include ./views/team.html
		include ./views/team-list.html
		include ./views/team-index.html
		include ./views/team-view.html
		include ./views/team-endorsement-list.html
		//- messages templates
		include ./views/messages.html
		include ./views/messages-list.html
		include ./views/messages-create.html
		include ./views/messages-view.html
		//- jobs templates
		include ./views/jobs.html
		include ./views/jobs-list.html
		include ./views/jobs-index.html
		include ./views/jobs-view.html
		include ./views/jobs-create.html
		//- invoices templates
		include ./views/invoices.html
		include ./views/invoices-list.html
		include ./views/invoices-index.html
		include ./views/invoices-create.html
		include ./views/invoices-view.html
		//- settings templates
		include ./views/settings.html
		include ./views/settings-index.html
		include ./views/settings-profile.html
		include ./views/settings-payments.html
		include ./views/settings-password.html
		include ./views/settings-endorsements.html
		//- not found
		include ./views/404.html
		script(type='text/x-handlebars')
			div#app
				| {{render 'header' profile}}
				| {{outlet}}
				| {{render footer}}
		block content
		script(type='application/javascript', src='/vendor/jquery-1.9.1.js')
		script(type='application/javascript', src='/vendor/jquery.validate.js')
		script(type='application/javascript', src='/vendor/additional-methods.js')
		script(type='application/javascript', src='/vendor/jquery-ui-1.9.2.custom.js')
		script(type='application/javascript', src='/vendor/jquery-ui-timepicker-addon.js')
		script(type='application/javascript', src='/vendor/marked.js')
		script(type='application/javascript', src='/vendor/handlebars-1.0.0.js')
		script(type='application/javascript', src='/vendor/ember-1.1.2.js')
		script(type='application/javascript', src='/vendor/ember-data.js')
		script(type='application/javascript', src='/vendor/ember-auth.js')
		script(type='application/javascript', src='/lib/app.js')
		script(type='application/javascript', src='/lib/models.js')
		script(type='application/javascript', src='/lib/views.js')
		script(type='application/javascript', src='/lib/controllers.js')
		script(type='application/javascript', src='/lib/router.js')
	
