doctype html
html(lang="en")
  head
  meta(charset='UTF-8')
  title Beelancer - Social Project Management
  link(rel='shortcut icon', href='/static/images/favicon.ico')
  link(rel='stylesheet', href='/css/landing/base.css')
  script(type='text/javascript', src='/vendor/jquery-1.9.1.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42842866-1', 'beelancer.com');
    ga('send', 'pageview');
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42842866-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  body
    .wrapper
      #header
        .container
          h1#logo
            a(href='/') beelancer
          ul#navigation
            li#login
              a(href='/app.html') Login
            li
              a.twitter(href='https://twitter.com/beelancerapp') Twitter
              a.facebook(href='https://www.facebook.com/beelancerapp') Facebook
            li
              a(href='/about.html') About
            li
              a(href='/features.html') Features
      block content
  #footer
    .container
      .left © Copyright 2013 - GordonWritesCode, Inc.
      ul.navigation
        li
          a(href='./about.html') About
        li
          a(href='./features.html') Features
