//- Point to layout
extends landing-shell
block content
  .fiber
    .container
        h2.white Features and Pricing
  .container
    table#features-list(cellspacing='0', cellpadding='6')
      thead
        tr
        td.no-border  
        td Free
        td Premium
      tbody
        tr
        td.feature Unlimited Projects and Tasks
        td
          span.check Yes
        td
          span.check Yes
        tr
        td.feature Real Time Chat and Messages
        td
          span.check Yes
        td
          span.check Yes
        tr
        td.feature Concurrent Job Postings
        td
          span.info 2
        td
          span.info Unlimited
        tr
        td.feature Unlimited Bidding on Jobs
        td
          span.check Yes
        td
          span.check Yes
        tr
        td.feature Send and Recieve Payments
        td
          span.info 5% Fee
        td
          span.info 2.9% + $0.30 Fee                                  
        tr
        td.feature
          | Interviews
          em (Video and Voice Chat)
        td
          span.no-check No
        td
          span.check Yes
        tr
        td.feature Higher Visibility Job Postings
        td
          span.no-check No
        td
          span.check Yes
        tr
        td.feature Group Messaging and Chat
        td
          span.no-check No
        td
          span.check Yes
        tr
        td.feature
          | Public Profile
          em (me.beelancer.com/yournamehere address)
        td
          span.no-check No
        td
          span.check Yes
      tfoot
        tr
        td.no-border  
        td
          strong.price $0/month
          button(data-redirect='//app.beelancer.com/#!/login?register=true', disabled='disabled') Sign Up
        td
          strong.price $9/month
          button(data-redirect='//app.beelancer.com/#!/login?register=true?accountType=premium', disabled='disabled') Coming Soon
    .push
