doctype html
html(lang="en")
  head
  meta(charset='UTF-8')
  title Beelancer - Social Project Management
  link(rel='shortcut icon', href='/static/images/favicon.ico')
  link(rel='stylesheet', href='/css/landing/base.css')
  script(type='text/javascript', src='/vendor/jquery-1.9.1.js')
  script(type='text/javascript', src='/vendor/blueprint.1.5.3.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42842866-1', 'beelancer.com');
    ga('send', 'pageview');
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42842866-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  script.
    jQuery(document).ready(function($) {
      $('#private-beta').bind('submit', function(e) {
        e.preventDefault();
        var that = this;
        if (valid()) {
          $.ajax({
            type : 'GET',
            url : '//app.beelancer.com/api/beta/request',
            data : $(that).serialize(),
            dataType : 'jsonp',
            timeout : 3000,
            beforeSend : function() {
              $('input', that).attr('disabled','disabled');
              $('#submit-beta-request').addClass('disabled').val('');
            },
            success : function(data) {
              $('input', that).removeAttr('disabled');
              if (data.error) {
                $(that).html('<p class="error">' + data.error + '</p>');
              }
              else {
                _gaq.push(['_trackEvent', 'Beta', 'InvitationRequested']);
                $(that).html('<p>' + data.message + '</p>');
              }
            },
            error : function(err) {
              $(that).html('<p class="error">Failed to request Beta Invitation</p>');
            }
          });
        }
      });
      $('input').bind('blur', valid);
      function valid() {
        var validity = true;
        $('*').removeClass('invalid');
        $('#private-beta input').each(function() {
          switch($(this).attr('name')) {
             case 'firstName' : 
              if (!$(this).val()) {
                validity = false;
                $(this).parent().addClass('invalid');
              }
              break;
             case 'lastName' :
              if (!$(this).val()) {
                validity = false;
                $(this).parent().addClass('invalid');
              }
              break;
             case 'email' :
              if (!$(this).val() || !_.validate.email($(this).val())) {
                validity = false;
                $(this).parent().addClass('invalid');
              }
              break;
             case 'emailConfirm' :
              if (!$(this).val() || ($(this).val() !== $('input[name="email"]').val())) {
                validity = false;
                $(this).parent().addClass('invalid');
              }
              break;
             default :
              // nothing
          }
        });
        return validity;
      };
    });

  body
    .wrapper
      #header
        .container
          h1#logo
            a(href='/') beelancer
          ul#navigation
            li#login
              a(href='/app/index.html') Login
            li
              a.twitter(href='https://twitter.com/beelancerapp') Twitter
              a.facebook(href='https://www.facebook.com/beelancerapp') Facebook
            li
              a(href='/about.html') About
            li
              a(href='/features.html') Features
      block content
  #footer
    .container
      .left © Copyright 2013 - GordonWritesCode, Inc.
      ul.navigation
        li
          a(href='./about.html') About
        li
          a(href='./features.html') Features
