//- Point to layout
extends landing-shell
block content
  .fiber
    .container
        h2.white What is Beelancer?
  .container
    p
      | Beelancer lives to help busy people get paid for getting  things done. What makes Beelancer so much more is its capacity to do so by facilitating collaboration without the "noise" of social networking.
      p
      | Freelancers have a necessity to wear multiple hats. In a single day you are a headhunter, project manager, designer or engineer or artist, and finally an accountant. Beelancer is the only tool that allows you to switch between these hats effortlessly, while connecting you with a network of other professionals.
      p
      | Beelancer is a means for "crowd-sourcing" your work. A user can login from anywhere and either find projects to work on or even find others who want to work on his/her project. Users bid to work on a project and once hired, both parties can track their time and progress in their respective roles. Once the work is completed, the members of a project are able to invoice the owner, who can process and track the payouts all from within Beelancer. The project owner may also bill a third party for work completed.
    .push
