!!! 5
html
	head(lang='en-US')
		title Beelancer | Social Project Management
		link(rel='stylesheet', type='text/css', href='/css/vendor/animate.min.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/jquery-ui-1.9.2.custom.min.css')
		link(rel='stylesheet', type='text/css', href='/css/vendor/jquery-ui-timepicker-addon.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		//- script(type='application/javascript', src='/socket.io/socket.io.js')
		//- script(type='application/javascript', src='/vendor/require.js')
		if locals.google_analytics
			include ./google-analytics.html
		script(type='application/javascript')
			| localStorage.setItem('apiUrl', '#{locals.apiProtocol}://#{apiHost}:#{apiPort}');
	body
		//- base ember templates
		include ./views/header.html
		include ./views/footer.html
		include ./views/menu.html
		include ./views/notifications.html
		//- login and auth
		include ./views/forgot.html
		include ./views/login.html
		include ./views/recover.html
		include ./views/register.html
		include ./views/welcome.html
		include ./views/loader.html
		//- projects templates
		include ./views/projects.html
		include ./views/projectList.html
		include ./views/projectsIndex.html
		include ./views/projectsView.html
		include ./views/projectsCreate.html
		//- tasks templates
		include ./views/tasks.html
		include ./views/taskList.html
		include ./views/tasksIndex.html
		include ./views/tasksView.html
		include ./views/tasksCreate.html
		script(type='text/x-handlebars')
			div#app
				| {{render 'header' profile}}
				| {{outlet}}
				| {{render footer}}
		block content
		script(type='application/javascript', src='/vendor/jquery-1.9.1.js')
		script(type='application/javascript', src='/vendor/jquery-ui-1.9.2.custom.js')
		script(type='application/javascript', src='/vendor/jquery-ui-timepicker-addon.js')
		script(type='application/javascript', src='/vendor/marked.js')
		script(type='application/javascript', src='/vendor/handlebars-1.0.0.js')
		script(type='application/javascript', src='/vendor/ember-1.0.0.js')
		script(type='application/javascript', src='/vendor/ember-data.js')
		script(type='application/javascript', src='/vendor/ember-auth.js')
		script(type='application/javascript', src='/lib/app.js')
		script(type='application/javascript', src='/lib/models.js')
		script(type='application/javascript', src='/lib/views.js')
		script(type='application/javascript', src='/lib/controllers.js')
		script(type='application/javascript', src='/lib/router.js')
	
