<script type="text/x-handlebars" data-template-name="settings/password">
    <div id="security">
        <h4>Password &amp; Security</h4>
        <p class="hint">
            If you need to change your password, you can do so by <strong>recovering your account</strong>. 
            This process will send you an email with a secure link to update your password. You will be 
            logged out during this time.
        </p>
        <div class="np_submit_wrapper gold-gradient">
            <input {{action 'resetPassword'}} type="button" id="recover_account" value="Reset Password" />
        </div>
    </div>
</script>
