<script type="text/x-handlebars" id="tasks/index">
	<div class="center-pane">
		<div class="top_options">
			<div class="project_filter">
				<strong>Viewing: </strong>
				{{view Ember.Select
			       content=projects.all
			       optionValuePath='content._id'
			       optionLabelPath='content.title'
			       value=project
			       prompt='All Tasks'
			   	}}
			</div>
			<strong class="gold-gradient option_button">
				{{#link-to 'tasks.create' classNames='new_task'}}Create Task{{/link-to}}
			</strong>
		</div>
		<div class="col3">
			<div class="col-header in-progress light-gradient">
				<h3>In Progress</h3>
			</div>
			<div id="tasks_active_list">
				{{#if visible.inProgress.length}}
					<ul>{{#each visible.inProgress}}{{view Bee.TaskListView}}{{/each}}</ul>
				{{else}}
					<p class="no_projects">None</p>
				{{/if}}
			</div>
		</div>
		<div class="col3">
			<div class="col-header completed light-gradient">
				<h3>Completed</h3>
			</div>
			<div id="tasks_closed_list">
				{{#if visible.completed.length}}
					<ul>{{#each visible.completed}}{{view Bee.TaskListView}}{{/each}}</ul>
				{{else}}
					<p class="no_projects">None</p>
				{{/if}}
			</div>
		</div>
		<div class="col3">
			<div class="col-header unassigned light-gradient">
				<h3>Unassigned</h3>
			</div>
			<div id="tasks_unassigned_list">
				{{#if visible.unassigned.length}}
					<ul>{{#each visible.unassigned}}{{view Bee.TaskListView}}{{/each}}</ul>
				{{else}}
					<p class="no_projects">None</p>
				{{/if}}
			</div>
		</div>
	</div>
</script>
