<script type="text/x-handlebars" data-template-name="tasks-list">
  <li>
    <ul class="task_list">
      <li>
        {{#if assignee}}
          <strong class="task_assignee">
            {{#link-to "team.view" assignee._id}}
              <img src="{{unbound assignee.avatarPath}}" width="24" height="24" />
              {{assignee.firstName}} {{assignee.lastName}}
            {{/link-to}}
          </strong>
        {{/if}}
        <ul class="task_list">
          {{#if tasks.length}}
            {{#each tasks}}
              <li>
                {{#link-to "tasks.view" _id}}
                  <strong class="task_title">{{title}}</strong>
                  <em class="task_rate">
                    ${{rate}}
                    {{#if isFixedRate}}
                       total
                    {{else}}
                       per hour
                    {{/if}}
                  </em>
                {{/link-to}}
              </li>
            {{/each}}
          {{else}}
            <li><p class="no_projects"><em>None</em></p></li>
          {{/if}}
        </ul>
      </li>
    </ul>
  </li>
</script>
