<script type="text/x-handlebars" data-template-name="tasks/create">
	<div class="center-pane">
		<form id="create_task">
			<div class="top_options">
				<strong class="gold-gradient option_button">
					<button {{bindAttr disabled=isProcessing}} {{action 'createTask'}} class="save_task">Save Task</button>
				</strong>
			</div>
			<div class="group">
				<label for="newtask_title">
					<span>Title: </span>
					{{input classNames="required" type="text" placeholder="" name="title" value=title }}
				</label>
				<label for="newtask_rate">
					<span>Rate: </span>
					{{input classNames="required" type="text" placeholder="" name="rate" value=rate }}
				</label>
			</div>
			<div class="group no_edit">
				<label for="newtask_project">
					<span>Project: </span>
					{{view Ember.Select
				       content=projects
				       optionValuePath='content._id'
				       optionLabelPath='content.title'
				       value=selectedProject
				       prompt='Select a Project...'
				   	}}
				</label>
				<label for="newtask_assignee">
					<span>Assignee: </span>
					{{view Ember.Select
				       content=assignees
				       optionValuePath='content._id'
				       optionLabelPath='content.fullName'
				       value=selectedAssignee
				       prompt='Unassigned'
				   	}}
				</label>
			</div>
			<div class="full_block">
				<label class="big_radio selected">
					<input type="radio" name="isFixedRate" {{bindAttr checked=isFixedRate}} /> This task has a fixed price
					<p>
						The rate you specify above is the amount paid for the completion of this task. You can still track 
						your time, but the billed amount will remain the same.
					</p>
				</label>
				<label class="big_radio">
					<input type="radio" name="isFixedRate" /> This task is paid hourly
					<p>
						The rate you specify above represents an hourly rate. The billed amount will be equal to this rate 
						times the number of hours logged for this task upon billing.
					</p>
				</label>
			</div>
		</form>
	</div>
</script>
