<script type="text/x-handlebars" data-template-name="tasks-worklog-form">
    <div class="modal-container">
        <form class="center-pane worklog-modal">
            <div class="top_options">
                <strong class="gold-gradient option_button">
                    <a {{action 'saveLogEntry'}} class="save-worklog">Save Entry</a>
                </strong>
                <strong class="gold-gradient option_button">
                    <a {{action 'closeLogEntry'}} class="cancel-worklog">Cancel</a>
                </strong>
            </div>
            <div class="group">
                <label for="wlog_startTime">
                    <span>Started:</span>
                    {{input type="text" classNames="datepicker" name="started" value=logEntry.started }}
                </label>
                <label for="wlog_endTime">
                    <span>Ended:</span>
                    {{input type="text" classNames="datepicker" name="ended" value=logEntry.ended }}
                </label>
            </div>
            <div id="wlog_error"></div>
            <label class="full_block" for="wlog_message">
                <span>Notes:</span>
                {{textarea name="message" value=logEntry.message }}
            </label>
            {{#if worklogError}}<p class="error-msg">{{worklogError}}</p>{{/if}}
        </form>
    </div>
</script>
