/*
 * beelancer - project.css
 * Author: Gordon Hall
 */

#projects_create,
#project_view {
	display: none;
}

.col-header.owned h3{
	background: url('/assets/images/mono/black/user_icon&16.png') right center no-repeat;
}

.col-header.participating h3 {
	background: url('/assets/images/mono/black/users_icon&16.png') right center no-repeat;
}

#projects_list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#projects_list li {
	overflow: hidden;
	border-top: 1px solid #e2e2e2;
}

#projects_list li strong {
	display: block;
	padding: 6px 12px;
}

#projects_list li .project_due {
	display: block;
	padding: 6px 12px;
}

#projects_list li a {
	display: block;
	color: #333;
	text-decoration: none;
	overflow: hidden;
}

#projects_list li a:hover {
	background: rgba(255, 207, 47, 0.2);;
}

#projects_list .percent_bar {
	display: block;
	margin: 8px;
	position: relative;
	height: 24px;
	border: 1px solid #999;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#projects_list .percent_bar .progress {
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

#projects_list .percent_bar .percent {
	display: block;
	margin: 0;
	position: absolute;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	top: 2px;
	left: 50%;
	width: 200px;
	text-align: center;
	margin-left: -100px;
	font-style: normal;
	text-shadow: 0 0 6px #FFF;
}

.new_project_submit_wrapper {
	border-radius: 6px;
	margin: 24px auto;
	width: 302px;
}

.project_filter {
	float: left;
}

.project_filter strong {
	float: left;
	margin: 4px 12px 0 0;
}

#project_filter {
	padding: 4px 12px;
	font-size: 14px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ababab;
}

#save_project {
	display: block;
	width: 100%;
	font-size: 28px;
	font-family: Raleway;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFC60B;
	text-align: left;
	text-indent: 48px;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid #FFC60B;
	background: url('/assets/images/mono/black/folder_plus_icon&32.png') 12px center no-repeat;
}

#save_project:hover {
	cursor: pointer;
	background: url('/assets/images/mono/black/folder_plus_icon&32.png') 12px center no-repeat #FFC60B;
}

#newproject_client-info {
	display: none;
}

.new_project {
	background: url('/assets/images/mono/black/folder_plus_icon&16.png') 12px center no-repeat;
}

#projects_nav .edit_project {
	background: url('/assets/images/mono/black/doc_edit_icon&24.png') 12px center no-repeat;
}

#projects_nav .bill_client {
	background: url('/assets/images/mono/black/money_icon&24.png') 12px center no-repeat;
}

#projects_nav .close_project {
	background: url('/assets/images/mono/black/round_minus_icon&24.png') 12px center no-repeat;
}

#projects_nav .reopen_project {
	background: url('/assets/images/mono/black/round_checkmark_icon&24.png') 12px center no-repeat;
}

#projects_nav .delete_project {
	background: url('/assets/images/mono/black/delete_icon&24.png') 12px center no-repeat;
}

#projects_nav .leave_project {
	background: url('/assets/images/mono/black/undo_icon&24.png') 12px center no-repeat;
}

#projects_active_list ul,
#projects_closed_list ul {
	margin: 3px;
	padding: 0;
	list-style-type: none;
}

#projects_active_list ul li,
#projects_closed_list ul li {
	border-top: 1px solid #fff;
}

#projects_active_list ul li a,
#projects_closed_list ul li a {
	padding: 12px 24px;
	margin: 3px 0;
	display: block;
	text-decoration: none;
	border-radius: 6px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	border: 1px solid transparent;
}

#projects_active_list ul li a:hover,
#projects_closed_list ul li a:hover {
	background-color: #e2e2e2;
	border: 1px solid #d2d2d2;
	border-color: #d2d2d2;
}

#projects_active_list ul li a .project_due,
#projects_closed_list ul li a .project_due {
	float: right;
}

#projects_active_list ul li a.overdue {
	color: red;
}

#projects_active_list ul li a.overdue:hover {
	background-color: rgba(255, 0, 0, 0.2);
	border-color: red;
	color: #000;
	text-shadow: none;
}

#filter_projects {
	float: left;
	margin: 12px;
}

#filter_projects select {
	font-size: 16px;
	margin-left: 12px;
}

.viewproject_deadline {
	float: right;
	font-size: 12px;
	margin: -60px 24px 0 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #333
}

.calendardate {
	display: inline-block;
	padding: 2px 12px 4px 12px;
	border-radius: 3px;
	background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 0 12px;
	border: 1px solid #cf0404;
	border-top: 8px solid #cf0404;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}

.closed {
	color: white;
	padding: 6px 12px;
	border-radius: 3px;
	border: 1px solid #C9DE96;
	text-shadow: 0 -1px 0 #398235;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	margin: 6px -36px 0 0;
	float: right;
}

.viewproject_description {
	padding: 0;
	margin: 12px 24px;
	border-top: 1px solid #c1c1c1;
	font-size: 14px;
}

.viewproject_stats {
	text-align: center;
	font-size: 14px;
	padding: 6px 0;
}

.viewproject_stats a {
	color: #001E28;
}

.viewproject_stats a:hover {
	text-decoration: none;
}

.viewproject_ownedby {
	margin: 0 24px;
	border-radius: 4px;
}

.viewproject_ownedby > strong {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
}

.list-task a {
	text-decoration: none !important;
}

.task-list-title {
	display: block;
	float: none !important;
	margin-top: 0 !important;
	font-size: 14px;
}

.task-list-hours {
	display: block;
	float: none !important;
	font-size: 12px;
	font-style: italic;
	font-weight: normal !important;
	padding-left: 22px;
	background: url('/assets/images/mono/black/clock_icon&16.png') left center no-repeat;
}

.task-list-status {
	font-weight: normal !important;
	font-size: 12px;
	padding-left: 24px;
}

.task-list-status.open {
	background: url('/assets/images/icons/current-work.png') left center no-repeat;
}

.task-list-status.complete {
	background: url('/assets/images/icons/check.png') left center no-repeat;
}
