/*
 * beelancer - styles/fonts
 * Author: Gordon Hall
 */

@font-face {
	font-family: OpenSans;
	src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: OpenSans;
	src: url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: OpenSans;
	src: url('/assets/fonts/Open_Sans/OpenSans-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: OpenSans;
	src: url('/assets/fonts/Open_Sans/OpenSans-BoldItlaic.ttf');
	font-style: italic;
	font-weight: bold;
}