/*
 * beelancer - styles/main
 * Author: Gordon Hall
 * 
 * Base styles fro beelancer ui
 */

html, body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	background : url('/assets/images/bg-blue.png') center center repeat #333;
	font-family: OpenSans, Helvetica, sans-serif;
}

#app {
	width: 1024px;
	margin: auto;
}

#bee_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/images/loader.gif') center center no-repeat rgba(0,0,0,0.3);
	background-size: 50px;
	z-index: 9999;
}

#main {
	padding-top: 76px;
	overflow: hidden;
}

.container {
	width: 1024px;
	margin: auto;
	overflow: hidden;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	display: none;
	z-index: 997;
	overflow: auto;
	border-bottom: 1px solid #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.loader {
	width: 48px;
	height: 48px;
	margin: 12px auto;
	background: url('/assets/images/loader2.gif') center center no-repeat;
	background-size: 48px;
}

h1.logo {
	width: 62px;
	float: left;
	padding: 6px 0;
	border-right: 1px solid #ededed;
	border-left: 1px solid #ededed;
	margin: 0;
	position: relative;
}

h1.logo:hover {
	background: #fff;
	cursor: pointer;
}

h1.logo a {
	display: block;
	background: url('/assets/images/beelancer-logo-white-bg.png') left center no-repeat;
	height: 62px;
	width: 40px;
	margin: auto;
	text-indent: -999px;
	background-size: 200px;
}

h2.panel_title {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	padding-left: 58px;
	font-size: 24px;
}

h2.panel_title.tasks {
	background: url('/assets/images/mono/white/clock_icon&32.png') 12px center no-repeat;
}

.col3 {
	width: 322px;
	float: left;
	margin: 0 0 0 10px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
}

.col-header {
	border-bottom: 1px solid #e2e2e2;
}

.col-header h3 {
	margin: 0 12px 0 0;
	padding: 12px 18px;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 16px;
}

.top_options {
	background: #f1f1f1;
	border-bottom: 1px solid #e2e2e2;
	padding: 12px 24px;
	margin: 0 0 24px 0;
	overflow: hidden;
}

.option_button {
	float: right;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #FFC60B;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.option_button a {
	display: block;
	padding: 4px 8px 4px 28px;
	background-position: 6px center;
	text-decoration: none;
	color: #000;
	text-shadow: 0 1px 0 #FFC60B;
}

.option_button:hover {
	background: #FFC60B;
}

#notifications_badge {
	display: none;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 10px;
	color: #fff;
	border-radius: 10px;
	padding: 1px 5px;
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	border: 1px solid #ff3019;
}

.left_menu {
	margin: 16px 0;
	float: left;
	list-style-type: none;
	background: #f6f6f6;
	border-radius: 4px;
	width: 240px;
}

.content {
	margin: 16px 0;
	float: right;
	width: 764px;
}

h3 > span {
	display: block;
	font-size: 16px;
	padding: 12px;
	text-shadow: 0 1px 0 #fff;
	color: #333;
	padding-left: 48px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

h3 span.user {
	background: url('/assets/images/mono/black/user_icon&16.png') 12px center no-repeat;
}

h3 span.users {
	background: url('/assets/images/mono/black/users_icon&16.png') 12px center no-repeat;
}

h3 span.inbox {
	background: url('/assets/images/mono/black/inbox_icon&16.png') 12px center no-repeat;
}

h3 span.worklog {
	background: url('/assets/images/mono/black/stop_watch_icon&16.png') 12px center no-repeat;
}

h3 span.project {
	background: url('/assets/images/mono/black/notepad_2_icon&16.png') 12px center no-repeat;
}

h4 {
	font-family: Raleway;
	border: 1px solid #FFC60B;
	width: 300px;
	padding: 6px 12px 6px 32px;
	text-shadow: 0 1px 0 #FFC60B;
	border-radius: 3px 18px 18px 3px;
	margin-left: -12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#user {
	color: #000;
	float: right;
}

.rollout {
	background: url('/assets/images/rollout-top.png') top left repeat-x #fff !important;
	border-top: none !important;
}

#welcome {
	overflow: hidden;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

#welcome .user {
	display: block;
	padding: 20px 12px;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#welcome .user:hover,
#welcome .user.open {
	background-color: #fff;
	cursor: pointer;
}

#welcome .user img {
	float: right;
	margin: 2px 12px 2px 0;
	border: 1px solid #e2e2e2;
}

#welcome .user strong {
	float: right;
	font-size: 15px;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	margin: 6px 0;
	padding-right: 28px;
	background: url('/assets/images/mono/black/list_bullets_icon&16.png') right center no-repeat;
}

#user_menu,
#notifications {
	display: none;
	position: fixed;
	z-index: 997;
	padding-top: 8px;
}

#user_menu {
	left: 50%;
	top: 80px;
	margin-left: 332px;
	width: 180px;
	background: url('/assets/images/mono/white/arrow_top_icon&24.png') 146px 0 no-repeat;
}

#notifications {
	left: 50%;
	top: 80px;
	margin-left: -512px;
	width: 270px;
	background: url('/assets/images/mono/white/arrow_top_icon&24.png') 12px 0 no-repeat;
}

#user_menu ul,
#notifications ul {
	max-height: 400px;
	overflow: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #f1f1f1;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
}

#notifications .no_projects {
	font-size: 12px;
}

#user_menu li {
	display: block;
	margin: 6px 6px 0 6px;
}

#user_menu li.last {
	margin-bottom: 6px;
}

#user_menu li a,
#user_menu li span {
	display: block;
	padding: 6px 6px 6px 24px;
	margin: 6px 6px 0 6px;
	font-size: 14px;
	color: #222;
	text-decoration: none;
}

#user_menu li:hover,
#user_menu li:hover {
	cursor: pointer;
	background : url('/assets/images/bg-blue.png') center center repeat #333;
	border-radius: 4px;
}

#user_menu li:hover a,
#user_menu li:hover span {
	color: #fff;
}

#user_menu li a.profile {
	background: url('/assets/images/mono/black/user_icon&16.png') left center no-repeat;
}

#user_menu li:hover a.profile {
	background: url('/assets/images/mono/white/user_icon&16.png') left center no-repeat;
}

#user_menu li a.settings {
	background: url('/assets/images/mono/black/cogs_icon&16.png') left center no-repeat;
}

#user_menu li:hover a.settings {
	background: url('/assets/images/mono/white/cogs_icon&16.png') left center no-repeat;
}

#user_menu li a.report {
	background: url('/assets/images/mono/black/bug_icon&16.png') left center no-repeat;
}

#user_menu li:hover a.report {
	background: url('/assets/images/mono/white/bug_icon&16.png') left center no-repeat;
}

li #logout {
	background: url('/assets/images/mono/black/on-off_icon&16.png') left center no-repeat;
}

li:hover #logout {
	background: url('/assets/images/mono/white/on-off_icon&16.png') left center no-repeat;
}

label.hasError {
	color: #c01219;
}

label.hasError input {
	border-color: #c01219 !important;
}

.small_right {
	float: right;
}

.markdown {
	margin: 0;
	font-size: 14px;
	padding: 12px;
	background: white;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #E2E2E2;
}

.markdown_input {
	font-family: Monaco, Courier, monospace;
	line-height: 22px;
}

#notifications {

}

.notification {
	font-size: 12px;
	padding: 6px 6px 6px 28px;
	margin: 0;
/*	border-left: 3px solid;
*/	background-size: 14px;
}

.notification:hover {
	background-color: #fff !important;
	cursor: pointer;
}

.notification > div {
	font-size: 10px;
	text-align: right;
	font-style: italic;
	margin-top: 4px;
	border-top: 1px solid #e2e2e2;
}

.notification.err {
	border-left-color: #c01219;
	background: url('/assets/images/icons/busy.png') 6px center no-repeat;
}

.notification.success {
	border-left-color: #6cc53e;
	background: url('/assets/images/icons/check.png') 6px center no-repeat;
}

.notification.info {
	border-left-color: #569bda;
	background: url('/assets/images/icons/flag.png') 6px center no-repeat;
}

#menu {
/*	background : url('/assets/images/bg-blue.png') center center repeat #333;
	box-shadow: inset -2px 0px 6px, inset 2px 0px 6px;
*/	float: left;
	display: none;
	z-index: 997;
	overflow: hidden;
	padding: 20px 4px;
	border-left: 1px solid #fff;
}

#menu ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}

#menu li {
	background-size: 20px !important;
	float: left;
	margin-left: 6px;
}

#menu ul li a {
	padding: 8px 18px 8px 38px;
	display: block;
	text-align: left;
	text-decoration: none;
	color: #222;
	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
}

#menu ul li:hover,
#menu ul li.active {
	border-radius: 4px;
	background: url('/assets/images/bg-blue.png') center center repeat #333;;
}

#menu ul li a:hover,
#menu ul li.active a {
	color: #fff;
	text-shadow: 0 2px 4px #000;
}

#menu .projects a {
	background: url('/assets/images/mono/black/notepad_2_icon&16.png') 12px center no-repeat;
}

#menu .tasks a {
	background: url('/assets/images/mono/black/clock_icon&16.png') 12px center no-repeat;
}

#menu .team a {
	background: url('/assets/images/mono/black/users_icon&16.png') 12px center no-repeat;
}

#menu .messages a {
	background: url('/assets/images/mono/black/spechbubble_2_icon&16.png') 12px center no-repeat;
}

#menu .jobs a {
	background: url('/assets/images/mono/black/case_icon&16.png') 12px center no-repeat;
}

#menu .invoice a {
	background: url('/assets/images/mono/black/money_icon&16.png') 12px center no-repeat;
}

#menu .settings a {
	background: url('/assets/images/mono/black/cog_icon&16.png') 12px center no-repeat;
}

#menu .contact a {
	background: url('/assets/images/mono/black/doc_edit_icon&16.png') 12px center no-repeat;
}

#menu .projects a:hover,
#menu .projects.active a {
	background: url('/assets/images/mono/white/notepad_2_icon&16.png') 12px center no-repeat;
}

#menu .tasks a:hover,
#menu .tasks.active a {
	background: url('/assets/images/mono/white/clock_icon&16.png') 12px center no-repeat;
}

#menu .team a:hover,
#menu .team.active a {
	background: url('/assets/images/mono/white/users_icon&16.png') 12px center no-repeat;
}

#menu .messages a:hover,
#menu .messages.active a {
	background: url('/assets/images/mono/white/spechbubble_2_icon&16.png') 12px center no-repeat;
}

#menu .jobs a:hover,
#menu .jobs.active a {
	background: url('/assets/images/mono/white/case_icon&16.png') 12px center no-repeat;
}

#menu .invoice a:hover,
#menu .invoice.active a {
	background: url('/assets/images/mono/white/money_icon&16.png') 12px center no-repeat;
}

#menu .settings a:hover,
#menu .settings.active a {
	background: url('/assets/images/mono/white/cog_icon&16.png') 12px center no-repeat;
}

#menu .contact a:hover,
#menu .contact.active a {
	background: url('/assets/images/mono/white/doc_edit_icon&24.png') 12px center no-repeat;
}

.action {
	color: #002734;
	text-decoration: underline;
	font-weight: bold;
}

.action:hover {
	text-decoration: none;
	cursor: pointer;
}

.cute {
	font-family: Raleway;
}

h2#logo {
	text-indent: -9999px;
	background: url('/assets/images/logo.png') center center no-repeat;
	font-size: 48px;
	margin-bottom: 12px;
}

.float_wrap {
	overflow: hidden;
}

.center-pane {
	border-radius: 4px;
	box-shadow: 0 0 16px black;
	border: 3px solid white;
}

.light-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.gold-gradient {
	background: #FFC60B; /* Old browsers */
	background: -moz-linear-gradient(top,  #FFC60B 0%, #D9A809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC60B), color-stop(100%,#D9A809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FFC60B 0%,#D9A809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC60B', endColorstr='#D9A809',GradientType=0 ); /* IE6-9 */
}

.red-gradient {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.green-gradient {
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

.red-glossy {
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.green-glossy {
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

input:focus, textarea:focus {
	border-color: #E2A809 !important;
	background: url('/assets/images/tearaway.png') bottom right no-repeat #fff;
	box-shadow: inset 0 1px 2px #fff;
	outline: none;
}

.focused {
	font-weight: bold;
}

/*
 * Confirm UI
 */
#bee-ui_confirm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 997;
}

.popup {
	width: 400px;
	min-height: 162px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -81px 0 0 -202px;
	border: 2px solid white;
	border-radius: 6px;
	box-shadow: 0 0 24px black;
}

.popup p {
	margin: 24px 24px 12px 24px;
	padding: 12px 0 12px 48px;
	text-shadow: 0 1px 0 white;
	background: url('/assets/images/mono/black/attention_icon&32.png') left center no-repeat;
}

.popup-options {
	list-style-type: none;
	margin: 0 24px 12px 24px;
	padding: 12px 0 0 0;
	border-top: 1px solid #D2D2D2;
	text-align: right;
}

.popup-options li {
	display: inline;
	margin: 0 6px;
}

.popup-options li button {
	font-size: 12px;
	padding: 6px 12px;
	font-weight: bold;
	border-radius: 3px;
}

#bee-ui_confirm_ok {
	border: 1px solid #FFC60B;
	text-shadow: 0 1px 0 #FFC60B;
}

#bee-ui_confirm_ok:hover {
	background: #FFC60B;
	cursor: pointer;
}

#bee-ui_confirm_cancel {
	border: 1px solid #fff;
	text-shadow: 0 1px 0 #fff;
}

#bee-ui_confirm_cancel:hover {
	background: #fff;
	cursor: pointer;
}

/*
 * Form Styling
 */

.group {
	overflow: hidden;
}

.group label {
	display: block;
	float: left;
	width: 50%;
}

.group label span {
	display: block;
	margin: 12px 0 6px 24px;
}

.group input, .group select {
	display: block;
	margin: 12px 24px;
	font-size: 14px;
	padding: 6px 10px;
	width: 206px;
	border: 1px solid #ABABAB;
	border-radius: 2px;
}

.hint {
	margin: 24px;
	font-size: 14px;
	font-style: italic;
}

.full_block {
	display: block;
	margin: 12px 24px;
}

p.desc {
	margin: 0 24px;
	padding: 18px;
	background: #F1F1F1;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	text-shadow: 0 1px 0 white;
	line-height: 21px;
	font-size: 12px;
}

.full_block span {
	display: block;
}

.full_block textarea {
	margin: 6px 0;
	width: 484px;
	height: 100px;
	resize: vertical;
	padding: 12px;
	font-size: 14px;
}

.big_radio {
	margin: 12px 24px;
	display: block;
	padding: 12px;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	background: #EBEBEB;
}

.big_radio:hover {
	background: #fbfbfb;
	cursor: pointer;
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.big_radio.disabled:hover {
	background: #EBEBEB !important;
	cursor: default !important;
	box-shadow: none !important;
}

.big_radio.selected {
	border-color: #E2A809 !important;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	background-color: #fff;
}

.big_radio p {
	font-size: 13px;
	font-style: italic;
}

form .group label select {
	margin: 12px 24px;
	padding: 6px 12px;
	width: 228px;
}

/*
 * Navigation Styles
 */

.navigation {
	padding: 0;
	overflow: hidden;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	border-left: 1px solid #ededed;
}

.navigation ul li {
	float: right;
}

.navigation li a {
	font-size: 14px;
	display: block;
	padding: 8px 8px 8px 38px;
	text-decoration: none;
	border-left: 1px solid #fff;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #fff;
}

.navigation li a:hover {
	background-color: #fff !important;
	cursor: pointer;
}

/*
 * Pagination
 */
.pagination {
	text-align: center;
	padding: 12px 0;
}

.pagination button {
	padding: 12px 19px;
	margin: 0 12px;
	border-radius: 3px;
	border: 1px solid #E2E2E2;
	font-family: monospace;
	font-size: 12px;
	text-indent: -9999px;
	background: #F9F9F9;
}

.pagination button:hover {
	cursor: pointer;
	background-color: #fff;
}

.pagination .pageLeft {
	background: url('/assets/images/mono/black/arrow_left_icon&16.png') center center no-repeat #f9f9f9;
}

.pagination .pageLocation {
	
}

.pagination .pageCurrent {
	
}

.pagination .pageTotal {
	
}

.pagination .pageRight {
	background: url('/assets/images/mono/black/arrow_right_icon&16.png') center center no-repeat #f9f9f9;
}

.pagination button.disabled {
	opacity: 0.3;
}

.pagination button.disabled:hover {
	opacity: 0.3;
	background-color: #f9f9f9;
}

/*
 * Split Lists
 */
.half_list {
	width: 50%;
	float: left;
	margin: 12px 0;
}

.half-list-header {
	margin: 0 24px;
	padding: 12px 0;
	font-size: 18px;
	text-align: left;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	color: #001E28;
	border-bottom: 1px solid #c1c1c1;
}

.half_list ul {
	list-style-type: none;
}

.half_list ul li {
	margin: 3px 0;
}

.half_list ul li a {
	padding: 4px;
	display: block;
	overflow: hidden;
	border: 1px solid transparent;
}

.half_list ul li a span {
	float: left;
	margin-top: 6px;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	color: #333;
}

.half_list ul li a span.member-title {
	display: none;
}

.half_list ul li a:hover {
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	background-color: #e2e2e2;
}

.half_list ul li a img {
	float: left;
	margin-right: 8px;
}

.half-list-header button {
	float: right;
}

.btn-add {
	background: url('/assets/images/mono/black/round_plus_icon&16.png') center center no-repeat #e2e2e2;
	height: 28px;
	width: 28px;
	border: 1px solid #d2d2d2;
	text-indent: -9999px;
	border-radius: 4px;
} 

.btn-add:hover {
	border: 1px solid #999;
	background-color: #d2d2d2;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	cursor: pointer;
}

.none {
	margin: 0 24px 12px 24px;
	font-size: 14px;
	padding: 12px;
	background: white;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #E2E2E2;
}

#bee-ui_teamlist {
	display: none;
	background: #f1f1f1;
	border: 1px solid #999;
	padding: 0;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	width: 350px;
	max-height: 300px;
	overflow: auto;
}

#bee-ui_teamlist ul {
	list-style-type: none;
	margin: 6px;
	padding: 0;
}

#bee-ui_teamlist ul li.teammember {
	margin-bottom: 3px;
	padding: 6px 12px;
	display: block;
	overflow: hidden;
	border: 1px solid transparent;
}

#bee-ui_teamlist ul li.teammember img {
	float: left;
	margin-right: 8px;
}

#bee-ui_teamlist ul li.teammember span {
	float: left;
	margin-top: 4px;
}

#bee-ui_teamlist ul li.teammember.selected, #bee-ui_teamlist ul li.teammember:hover {
	background: #e2e2e2;
	border-radius: 6px;
	cursor: pointer;
	border: 1px solid #d2d2d2;
}

#bee-ui_teamlist p {
	margin: 12px;
	text-align: center;
	font-size: 14px;
}

p.no_projects {
	margin: 12px;
	padding: 12px;
	text-align: center;
	background: #E2E2E2;
	border: 1px solid white;
	border-radius: 3px;
}

#view_my_profile .view_profile {
	background: url('/assets/images/mono/black/user_icon&24.png') 12px center no-repeat;
}

#whoami {
	float: left;
	height: 50px;
}

#whoami img {
	margin: 10px;
	float: left;
}

#whoami .my_name {
	float: left;
	margin-top: 14px;
}

.user_showcase {
	overflow: hidden;
	background: #e2e2e2;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	padding: 6px;
}

.user_showcase img {
	float: left;
	margin: 0 12px 0 0;
}

.user_showcase strong {
	display: block;
	float: left;
	width: 370px;
}

.user_showcase em {
	display: block;
	float: left;
	width: 370px;
}

.user_showcase a {
	float: right;
	margin-top: -20px;
	text-indent: -9999px;
	width: 46px;
	height: 46px;
	border-left: 1px solid #D2D2D2;
	background: url('/assets/images/mono/black/export_icon&24.png') center center no-repeat;
}

.user_showcase a:hover {
	background: url('/assets/images/mono/black/export_icon&32.png') center center no-repeat;
}

.tooltip {
	border-radius: 6px;
	margin: 8px;
	padding: 8px;
	outline: none;
	background: rgba(0, 0, 0, 0.3);
	color: white;
	position: absolute;
	z-index: 998;
	font-size: 12px;
}

#wlog_error {
	padding: 6px 0 0 0;
	text-align: center;
	color: red;
	font-size: 14px;
}

#bee-ui_add_worklog_entry label.invalid {
	color: red;
}

#bee-ui_add_worklog_entry label.invalid input {
	border-color: red;
}
