/*
 * beelancer - styles/main
 * Author: Gordon Hall
 * 
 * Base styles fro beelancer ui
 */

html, body {
	margin: 0;
	padding: 0;
	background : url('/assets/images/bg-blue.png') center center repeat #333;
	font-family: OpenSans, Helvetica, sans-serif;
}

#app {
	width: 1024px;
	margin: auto;
}

#bee_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/images/loader.gif') center center no-repeat rgba(0,0,0,0.3);
	background-size: 50px;
	z-index: 9999;
}

#main {
	position: relative;
	z-index: 996;
}

#header {
	position: fixed;
	top: 0;
	width: 152px;
	left: 50%;
	display: none;
	margin-left: 360px;
	z-index: 997;
}

h1.logo {
	background: url('/assets/images/logo.png') center center no-repeat;
	height: 62px;
	text-indent: -999px;
	background-size: 200px;
	width: 248px;
	float: left;
}

h4 {
	font-family: Raleway;
	border: 1px solid #FFC60B;
	width: 300px;
	padding: 6px 12px 6px 32px;
	text-shadow: 0 1px 0 #FFC60B;
	border-radius: 3px 18px 18px 3px;
	margin-left: -12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#user {
	color: white;
	margin: 36px 0 0 46px;
}

#welcome {
	
}

#logout {
	display: block;
	float: right;
	background: url('/assets/images/mono/white/on-off_icon&24.png') left center no-repeat;
	padding: 6px 0 6px 36px;
	background-size: 18px;
	width: 64px;
}

#logout:hover {
	background-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

label.hasError {
	color: #c01219;
}

label.hasError input {
	border-color: #c01219 !important;
}

#notifications {
	margin-top: 84px;
}

.notification {
	font-size: 12px;
	padding: 6px 6px 6px 28px;
	margin: 6px 0;
	border: 1px solid #fff;
	border-left: 3px solid;
	background-color: #f1f1f1;
	background-size: 14px;
	box-shadow: 0 0 6px #000;
	border-radius: 0 3px 3px 0;
}

.notification:hover {
	background-color: #e2e2e2 !important;
	cursor: pointer;
}

.notification > div {
	font-size: 10px;
	text-align: right;
	font-style: italic;
	margin-top: 4px;
	border-top: 1px solid #e2e2e2;
}

.notification.err {
	border-left-color: #c01219;
	background: url('/assets/images/icons/busy.png') 6px center no-repeat #f1f1f1;
}

.notification.success {
	border-left-color: #6cc53e;
	background: url('/assets/images/icons/check.png') 6px center no-repeat #f1f1f1;
}

.notification.info {
	border-left-color: #569bda;
	background: url('/assets/images/icons/flag.png') 6px center no-repeat #f1f1f1;
}

#menu {
	width: 248px;
	position: fixed;
	top: 0;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset -2px 0px 6px, inset 2px 0px 6px;
	display: none;
	z-index: 997;
}

#menu ul {
	list-style-type: none;
	margin-top: 86px;
}

#menu li {
	background-size: 20px !important;
}

#menu li:hover,
#menu li.active {
	background-size: 24px !important;
}

#menu ul li a {
	padding: 14px 46px 14px 0;
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-shadow: 0 2px 3px black;
}

#menu ul li a:hover,
#menu ul li.active a {
	background: url('/assets/images/menu.png') right center no-repeat;
	font-weight: bold;
}

#menu .projects {
	background: url('/assets/images/mono/white/notepad_2_icon&24.png') left center no-repeat;
}

#menu .tasks {
	background: url('/assets/images/mono/white/clock_icon&24.png') left center no-repeat;
}

#menu .team {
	background: url('/assets/images/mono/white/users_icon&24.png') left center no-repeat;
}

#menu .messages {
	background: url('/assets/images/mono/white/spechbubble_2_icon&24.png') left center no-repeat;
}

#menu .jobs {
	background: url('/assets/images/mono/white/case_icon&24.png') left center no-repeat;
}

#menu .settings {
	background: url('/assets/images/mono/white/cog_icon&24.png') left center no-repeat;
}

.action {
	color: #002734;
	text-decoration: underline;
	font-weight: bold;
}

.action:hover {
	text-decoration: none;
	cursor: pointer;
}

.cute {
	font-family: Raleway;
}

h2#logo {
	text-indent: -9999px;
	background: url('/assets/images/logo.png') center center no-repeat;
	font-size: 48px;
	margin-bottom: 12px;
}

.center-pane {
	margin: 42px 176px 36px 282px;
	border-radius: 6px;
	box-shadow: 0 0 16px black;
	border: 3px solid white;
}

.light-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.gold-gradient {
	background: #FFC60B; /* Old browsers */
	background: -moz-linear-gradient(top,  #FFC60B 0%, #D9A809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC60B), color-stop(100%,#D9A809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FFC60B 0%,#D9A809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC60B', endColorstr='#D9A809',GradientType=0 ); /* IE6-9 */
}

.red-gradient {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.green-gradient {
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

input:focus, textarea:focus {
	border-color: #E2A809 !important;
	background: url('/assets/images/tearaway.png') bottom right no-repeat #fff;
	box-shadow: inset 0 1px 2px #fff;
	outline: none;
}

.focused {
	font-weight: bold;
}
