/*
 * beelancer - styles/main
 * Author: Gordon Hall
 * 
 * Base styles fro beelancer ui
 */

html, body {
	margin: 0;
	padding: 0;
	background : url('/assets/images/bg-blue.png') center center repeat #333;
	font-family: OpenSans, Helvetica, sans-serif;
}

#bee_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/images/loader.gif') center center no-repeat rgba(0,0,0,0.3);
	background-size: 50px;
	z-index: 9999;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 997;
	display: none;
}

h1.logo {
	background: url('/assets/images/logo.png') center center no-repeat;
	height: 62px;
	text-indent: -999px;
	background-size: 200px;
	width: 248px;
	float: left;
}

#user {
	float: right;
	color: white;
	margin: 36px 46px 0 0;
}

#welcome {
	
}

#logout {
	display: block;
	float: right;
	background: url('/assets/images/mono/white/on-off_icon&24.png') left center no-repeat;
	padding: 6px 0 6px 36px;
	background-size: 18px;
	width: 64px;
}

#logout:hover {
	background-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

#menu {
	width: 248px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset -2px 0px 6px;
	display: none;
}

#menu ul {
	list-style-type: none;
	margin-top: 86px;
}

#menu li {
	background-size: 20px !important;
}

#menu li:hover,
#menu li.active {
	background-size: 24px !important;
}

#menu ul li a {
	padding: 14px 46px 14px 0;
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-shadow: 0 2px 3px black;
}

#menu ul li a:hover,
#menu ul li.active a {
	background: url('/assets/images/menu.png') right center no-repeat;
	font-weight: bold;
}

#menu .projects {
	background: url('/assets/images/mono/white/notepad_2_icon&24.png') left center no-repeat;
}

#menu .tasks {
	background: url('/assets/images/mono/white/clock_icon&24.png') left center no-repeat;
}

#menu .team {
	background: url('/assets/images/mono/white/users_icon&24.png') left center no-repeat;
}

#menu .messages {
	background: url('/assets/images/mono/white/spechbubble_2_icon&24.png') left center no-repeat;
}

#menu .jobs {
	background: url('/assets/images/mono/white/case_icon&24.png') left center no-repeat;
}

#menu .settings {
	background: url('/assets/images/mono/white/cog_icon&24.png') left center no-repeat;
}

.action {
	color: #002734;
	text-decoration: underline;
	font-weight: bold;
}

.action:hover {
	text-decoration: none;
	cursor: pointer;
}

h2#logo {
	text-indent: -9999px;
	background: url('/assets/images/logo.png') center center no-repeat;
	font-size: 48px;
	margin-bottom: 12px;
}

.light-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.gold-gradient {
	background: #FFC60B; /* Old browsers */
	background: -moz-linear-gradient(top,  #FFC60B 0%, #D9A809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC60B), color-stop(100%,#D9A809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FFC60B 0%,#D9A809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FFC60B 0%,#D9A809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC60B', endColorstr='#D9A809',GradientType=0 ); /* IE6-9 */
}

.red-gradient {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
